.letsTalk{
    margin-top: 50px;
    margin-bottom: 50px;
    h2{
        line-height: 1.38; 
        margin-top: 0pt; 
        margin-bottom: 0pt; 
        text-align: center;
        color: rgb(79, 45, 135);
        font-size: 20px;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;
    }
}