.stagAccomodation .sectionTitle {
    margin-top: 50px;
    margin-bottom: 30px;
}
.stagAccomodation .stagAccomodationText p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #464860;
    line-height: 1.4;
}