    <!-- Ghost Content API start --- example below has filter for 'snow' tag -->

	<script src="https://unpkg.com/@tryghost/content-api@1.2.6/umd/content-api.min.js"></script>
	
	<script>
        const api = new GhostContentAPI({
        url: 'https://packed.co/blog',
        key: '70e3571d70a0898b155b51cb73',
        version: 'v2',
        });
        
        api.posts
			.browse({limit: 3, include: 'tags', filter: 'tag:Snow'}) //change tag filter as needed
    		.then((posts) => {
       			var temp = document.getElementsByTagName("template")[0]; // reference of template tag in DOM;
       			posts.forEach((post) => {
					var card = temp.content.cloneNode(true); // copy of template's content  
					var image = card.querySelector(".blog-links__img");
					var title = card.querySelector(".blog-links__title");
					//var subtitle = card.querySelector(".card-text");
					var slug = card.querySelector(".blog-links__slug");
					var slugTitle = card.querySelector(".blog-links__slug__title");
					var slugRead = card.querySelector(".blog-links__slug__read");
					slug.href=post.url;
					slugTitle.href=post.url;
					slugRead.href=post.url;
					image.alt=post.title;
					image.src = post.feature_image;
					//subtitle.textContent = post.custom_excerpt;
					title.textContent = post.title;
					var cardContainer = document.getElementById("blog-posts"); // place on the page where we want to append our template
					cardContainer.appendChild (card); // append the template's copy to the page 
       			});
			})
        
	</script>

	<!-- Ghost Content API end -->