<aside class="sidebar" aria-label="Sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
	
			<section class="widget widget-text">
				<h2 class="widget-title">Why we love group holidays</h2>
				<p>Three’s a crowd? More’s a party.<br><br>
				Group travel is all about the collective. Regardless of whether your travel companions are family, friends, colleagues or strangers – the shared memories are what make group holidays great. We find that when it comes to travel, less is less and the more the merrier.<br><br>Chat to us on <strong><a href="ttps://wa.me/442039000223" target="_blank">WhatsApp</a></strong> or <strong><a href="https://m.me/myswft?ref=Welcome" target="_blank">Facebook Messenger</a></strong>.
				</p>
			</section><!-- .widget -->
			{{#if @labs.subscribers}}
			<section class="widget widget-newsletter">
				<h2 class="widget-title">The MySwft Newsletter</h2>
				<p>Be the first to receive the latest updates by signing up to our newsletter.</p>
				{{subscribe_form form_class="gh-subscribe-form" placeholder="Your email address"}}
			</section><!-- .widget -->
			{{/if}}
			<section class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<p>Chat to us on&nbsp;<strong><a href="https://wa.me/442039000223" target="_blank">WhatsApp</a></strong>&nbsp;or&nbsp;<strong><a href="https://m.me/myswft?ref=Welcome" target="_blank">Facebook Messenger</a></strong>&nbsp;or our email address and phone number are below:</p>
				<ul class="contacts">
					<li><span class="icon icon-envelope" aria-hidden="true"></span> <a href="mailto: hello@myswft.com" target="_blank">hello@myswft.com</a> </li>
					<li><span class="icon icon-phone" aria-hidden="true"></span> <a href="tel: 02039000223">02039 000 223</a> </li>
				</ul>
			</section><!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle" href="#"><span class="screen-reader-text">Close Sidebar</span><span aria-hidden="true" class="icon-close-custom"></span></a>
	</div><!-- .sidebar-scrollable -->
</aside><!-- .sidebar -->
