<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> packed | Effortless Group Holidays for Friends, Families & Teams </title>

	<!-- Enter a brief description of your page -->
		<meta name="description" content="We help you spend more time with your favourite people by making it easy to plan and book your ideal group holiday. Start planning your trip with us today.">
		<meta name="keywords" content="group holidays, travel planner, group travel">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="packed" />
		<meta name="robots" content="index, follow">

	<!--facebook-->
		<meta property="og:title" content="packed | Effortless Group Holidays for Friends, Families & Teams"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="https://packed.co/assets/images/jpg/packed-OG-image.jpg"/>
		<meta property="og:image" content="https://packed.co/assets/images/jpg/packed-OG-image2.jpg"/>
		<meta property="og:url" content="https://packed.co"/>
		<meta property="og:description" content="We help you spend more time with your favourite people by making it easy to plan and book your ideal group holiday. Start planning your trip with us today."/>
	<!--end facebook-->

	<!--twitter-->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="https://packed.co">
		<meta name="twitter:title" content="packed | Effortless Group Holidays for Friends, Families & Teams">
		<meta name="twitter:description" content="We help you spend more time with your favourite people by making it easy to plan and book your ideal group holiday. Start planning your trip with us today.">
		<meta name="twitter:image" content="https://packed.co/assets/images/jpg/packed-twitter-image.jpg">
	<!--end twitter-->


	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700|Rubik:400,500,700&display=swap" rel="stylesheet">


	<!-- CSS -->
	<!-- <link media="all" rel="stylesheet" href="/assets/css/vendor.min.css"> -->
	<link media="all" rel="stylesheet" href="/assets/css/styles.min.css">

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />


	<link rel="canonical" href="https://packed.co" />

    <link rel="prefetch" href="https://q.quora.com">
    <link rel="prefetch" href="https://www.googleadservices.com">
    <link rel="prefetch" href="https://www.googletagmanager.com">
    <link rel="prefetch" href="https://scontent.cdninstagram.com">
    <link rel="prefetch" href="https://connect.facebook.net">
    <link rel="prefetch" href="https://www.facebook.com">
    <link rel="prefetch" href="https://bat.bing.com">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KVXPGSD');</script>
	<!-- End Google Tag Manager -->

    @@include('../partials/globals/orgSchema.html')

</head>

<body class="homepage">

	<div id="wrapper">

		@@include('../partials/globals/googleTagBelowBody.html')
		@@include('../partials/globals/loader.html')
		@@include('../partials/globals/header.html')
		@@include('../partials/globals/socialBtns.html')

		<div class="topArea topAreaWithImage">
			<div class="topAreaImage topAreaImageHome"></div>
			<div class="topContent sContainer">
				<h1 class="topTitle">packed makes group holidays happen</h1>
				<h2 class="topText">
					Try our free app to get your friends voting on dates, destination &amp; budget. Then receive recommendations personalised to your group&rsquo;s needs.
				</h2>
	
	
				<div class="buttonsContainer">
					<a class="mswButton purpleBg" href="https://m.me/all.packed?ref=Welcome" target="_blank">
						<span class="buttonIcon	whiteMessengerIcon"></span>
						Start in Messenger
					</a>
	
					<a class="mswButton cyanBg" href="https://api.whatsapp.com/send?phone=442039000223" target="_blank">
						<span class="buttonIcon	whiteWhatsappIcon"></span>
						Start in WhatsApp
					</a>
				</div>
	
	
				<div class="feefo">
					<a href="https://www.feefo.com/reviews/packed" target="_blank"><img alt="Feefo logo" border="0" src="/assets/images/png/feefo-logo.png" title="See what our customers say about us" /></a>
				</div>
			</div>
		</div>
	
		@@include('../partials/components/benefits.html')
		@@include('../partials/components/feefo-small.html')
		@@include('../partials/components/pressIcons.html')

		<section class="imageDescr container_12">
			<h2 class="sectionTitle max750" data-aos="fade-right" data-aos-once="true">
				Create unforgettable experiences with your favourite people
			</h2>
  
			<div class="two-column">
				<div class="two-column__column">
					<div class="two-column__column__inner">
						<picture class="two-column__img">
							<source srcset="/assets/images/webp/tailored-group-experiences.webp" type="image/webp">
							<source srcset="/assets/images/png/tailored-group-experiences.png" type="image/png">
							<img data-aos="fade-right" data-aos-once="true" src="/assets/images/png/tailored-group-experiences.png" alt="An illustration of a person organising a group holiday on WhatsApp">
						  </picture>
					</div>
				</div>
				<div class="two-column__column">
					<div class="two-column__column__inner">
						<h5	class="two-column__subtitle">ONE POINT OF CONTACT</h5>
						<h2	class="two-column__title">Tailored and personal planning experience</h2>
						<p class="two-column__paragraph">Cut through the noise. Save hours of online research with a friendly and responsive packed travel planner.</p>
						<ul class="two-column__list">
							<li class="two-column__list_item">Get quick and unbiased recommendations tailored to you, from real human travel planners</li>
							<li class="two-column__list_item">One point of contact for your whole trip means no more sitting on hold, form filling or juggling contact details</li>
						</ul>
						<a class="two-columns__learn-more" href="/how-it-works/">Learn more</a>
					</div>
				</div>
			</div>
		</section>

		<section class="imageDescr container_12">
			<div class="two-column flex-column-reverse">
				<div class="two-column__column">
					<div class="two-column__column__inner">
						<h5	class="two-column__subtitle">ORGANISING YOUR GROUP</h5>
						<h2	class="two-column__title">Faster, stress-free planning</h2>
						<p class="two-column__paragraph">Sidestep the chaos of WhatsApp groups and email chains. Get everyone bought-in and singing from the same hymn sheet.</p>
						<ul class="two-column__list">
							<li class="two-column__list_item">Get people involved and quickly see who&#39;s onboard</li>
							<li class="two-column__list_item">Easily agree the perfect plan. Vote on dates, destination and anything else that matters</li>
							<li class="two-column__list_item">Get ready to book. Conveniently collect everyone's travel details in one place</li>
						</ul>
						<a class="two-columns__learn-more" href="/app/">Learn more</a>
					</div>
				</div>
				<div class="two-column__column">
					<div class="two-column__column__inner">
						<picture class="two-column__img">
							<source srcset="/assets/images/webp/bring-people-together.webp" type="image/webp">
							<source srcset="/assets/images/png/bring-people-together.png" type="image/png">
							<img data-aos="fade-right" data-aos-once="true" src="/assets/images/png/bring-people-together.png" alt="An illustration of a person organising a group holiday on WhatsApp">
						</picture>
					</div>
				</div>
			</div>
		</section>

		<section class="imageDescr container_12">
  
			<div class="two-column">
				<div class="two-column__column">
					<div class="two-column__column__inner">
						<picture class="two-column__img">
							<source srcset="/assets/images/webp/keep-the-peace.webp" type="image/webp">
							<source srcset="/assets/images/png/keep-the-peace.png" type="image/png">
							<img data-aos="fade-right" data-aos-once="true" src="/assets/images/png/keep-the-peace.png" alt="An illustration of a person organising a group holiday on WhatsApp">
						  </picture>
					</div>
				</div>
				<div class="two-column__column">
					<div class="two-column__column__inner">
						<h5	class="two-column__subtitle">payment / booking</h5>
						<h2	class="two-column__title">Split the tab</h2>
						<p class="two-column__paragraph">Easy separate payments mean never chasing friends for money again. </p>
						<ul class="two-column__list">
							<li class="two-column__list_item">Automated balance reminders lift the burden from your shoulders</li>
							<li class="two-column__list_item">Keep track of everything on your dedicated group leader page</li>
						</ul>
						<a class="two-columns__learn-more" href="/how-it-works/">Learn more</a>
					</div>
				</div>
			</div>
		</section>



	<section class="imageDescr container_12">
		<h2 class="sectionTitle max750" data-aos="fade-right" data-aos-once="true">
			Our group holidays
		</h2>
		
		<div class="trip-tabs__container desktop-only">
			<div class="trip-tabs__content__left">
				<div class="trip-tabs__group__type active" id="tabsContent-1">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-ski-holidays-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type" id="tabsContent-2">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-city-breaks-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type" id="tabsContent-3">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-summer-holidays-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type " id="tabsContent-4">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-stag-weekends-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type" id="tabsContent-5">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-hen-weekends-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type" id="tabsContent-6">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-corporate-trips-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type" id="tabsContent-7">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-fitness-holidays-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
				<div class="trip-tabs__group__type" id="tabsContent-8">
					<div class="trip-tabs__img__container">
						<img class="trips-tabs__img" src="/assets/images/jpg/packed-group-family-holidays-chat.jpg">
						<div class="trip-tabs__img__dots bgDotsPurple"></div>
						<img class="trip-tabs__img__lines" src="/assets/images/png/lines2.png">
					</div>
				</div>
			</div>
			<ul class="trip-tabs__content__right" data-tab>
									<li class="trip-tabs__title trip-tabs__title-1 active">
											<a href="#tabsContent-1">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/> Group ski holidays
											</a>
											<div class="trip-tabs__title__content">
													<p>Group ski holidays at your fingertips, tailored to you. One point of contact, endless opportunities.</p>
													<a href="/ski-holidays/" class="trip-tabs__learn__more">Learn more</a>
											</div>
									</li>
									<li class="trip-tabs__title trip-tabs__title-2">
					<a href="#tabsContent-2">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/> Group city breaks
											</a>
											<div class="trip-tabs__title__content">
													<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
													<a href="/city-breaks/" class="trip-tabs__learn__more">Learn more</a>
											</div>
									</li>
									<li class="trip-tabs__title trip-tabs__title-3">
					<a href="#tabsContent-3">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/> Group summer holidays
											</a>
											<div class="trip-tabs__title__content">
													<p>Boutique hotel or beachside villa? Whatever you're looking for, get the perfect pad booked without the hassle.</p>
													<a href="/sun-holidays/" class="trip-tabs__learn__more">Learn more</a>
											</div>
									</li>
									<li class="trip-tabs__title trip-tabs__title-4">
					<a href="#tabsContent-4">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/> Stag weekends
											</a>
											<div class="trip-tabs__title__content">
													<p>Make it one to remember without losing your marbles. Flights, hotels and activities personalised for your stag do. No two are the same.</p>
													<a href="/stag-do/" class="trip-tabs__learn__more">Learn more</a>
											</div>
									</li>
									<li class="trip-tabs__title trip-tabs__title-5">
					<a href="#tabsContent-5">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/> Hen weekends
											</a>
											<div class="trip-tabs__title__content">
													<p>A hen planner in your pocket. Effortlessly tailored hen weekends, made for your favourite bride-to-be.</p>
													<a href="/hen-do/" class="trip-tabs__learn__more">Learn more</a>
											</div>
									</li>
									<li class="trip-tabs__title trip-tabs__title-6">
					<a href="#tabsContent-6">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Corporate group holidays
											</a>
											<div class="trip-tabs__title__content">
													<p>Reward your team or encourage team-building without paying over the odds or losing hours of productivity.</p>
													<a href="/team-building-trips/" class="trip-tabs__learn__more">Learn more</a>
											</div>
				</li>
				<li class="trip-tabs__title trip-tabs__title-7">
					<a href="#tabsContent-7">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Fitness community group holidays
											</a>
											<div class="trip-tabs__title__content">
													<p>Give back to your members and build loyalty with a community trip. We do the heavy lifting so you can focus on what you do best.	</p>
													<a href="/community-trips/" class="trip-tabs__learn__more">Learn more</a>
											</div>
				</li>
				<li class="trip-tabs__title trip-tabs__title-8">
					<a href="#tabsContent-8">
													<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Family group holidays
											</a>
											<div class="trip-tabs__title__content">
													<p>Activity-packed locations or a relaxing family getaway. Get the lowdown on breaks catering for the young, the old and those in-between.	</p>
													<a href="/family-holidays/" class="trip-tabs__learn__more">Learn more</a>
											</div>
									</li>
							</ul>
		</div>
		
		
		<ul class="trip-accordion mobile-only" data-accordion>
							<li class="trip-accordion__navigation active">
									<a href="#panelContent-1">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Group ski holidays
									</a>
									<div class="trip-accordion__content active" id="panelContent-1">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Group ski holidays at your fingertips, tailored to you. One point of contact, endless opportunities.</p>
															<a href="/ski-holidays/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
							<img class="trip-accordion__img"
							src="/assets/images/jpg/packed-group-ski-holidays.jpg">
							<img class="trip-accordion__img__lines" src="/assets/images/png/lines2.png">
											</div>
									</div>
							</li>
							<li class="trip-accordion__navigation">
									<a href="#panelContent-2">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Group city breaks
									</a>
									<div class="trip-accordion__content" id="panelContent-2">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
															<a href="/city-breaks/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-city-breaks.jpg">
											</div>
									</div>
							</li>
							<li class="trip-accordion__navigation">
									<a href="#panelContent-3">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Group summer holidays
									</a>
									<div class="trip-accordion__content" id="panelContent-3">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Boutique hotel or beachside villa? Whatever you&#39;re looking for, get the perfect pad booked without the hassle.</p>
															<a href="/sun-holidays/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-summer-holidays.jpg">
											</div>
									</div>
							</li>
							<li class="trip-accordion__navigation">
									<a href="#panelContent-4">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Stag weekends
									</a>
									<div class="trip-accordion__content" id="panelContent-4">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
															<a href="/stag-do/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-stag-weekends.jpg">
											</div>
									</div>
							</li>
							<li class="trip-accordion__navigation">
									<a href="#panelContent-5">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Hen weekends
									</a>
									<div class="trip-accordion__content" id="panelContent-5">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
															<a href="/hen-do/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-hen-weekends.jpg">
											</div>
									</div>
							</li>
							<li class="trip-accordion__navigation">
									<a href="#panelContent-6">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Corporate group holidays
									</a>
									<div class="trip-accordion__content" id="panelContent-6">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
															<a href="/team-building-trips/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-corporate-trips.jpg">
											</div>
									</div>
			</li>
			<li class="trip-accordion__navigation">
									<a href="#panelContent-7">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Fitness community group holidays
									</a>
									<div class="trip-accordion__content" id="panelContent-7">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
															<a href="/community-trips/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-fitness-holidays.jpg">
											</div>
									</div>
			</li>
			<li class="trip-accordion__navigation">
									<a href="#panelContent-8">
											<img src="/assets/images/svg/accordion-down.svg" class="arrow-up-down"/>Family group holidays
									</a>
									<div class="trip-accordion__content" id="panelContent-8">
											<div class="trip-accordion__large trip-accordion__medium trip-accordion__small">
													<div class="trip-accordion__column__wrapper">
															<p>Experience the best of local culture with your favourite people. Stay in cool hotels in the best locations without breaking a sweat.</p>
															<a href="/family-holidays/" class="trip-tabs__learn__more">Learn more</a>
													</div>
											</div>
											<div class="trip-accordion__img__large trip-accordion__img__medium trip-accordion__img__small">
													<img class="trip-accordion__img"
															src="/assets/images/jpg/packed-group-family-holidays.jpg">
											</div>
									</div>
							</li>
					</ul>
		</section>

		@@include('../partials/components/why-thousands-love-packed.html')
 
		<section class="how-it-works__section">
			<div class="sContainer how-it-works__container">
				<div class="how-it-works__nav navBooking">
					<a class="navBookingItem active" href="#tab-1">HOW OUR APP WORKS</a>
					<a class="navBookingItem" href="#tab-2">HOW TRIPS WORK WITH PACKED</a>
				</div>
				<div class="bookingPhotos how-it-works__content__container">
					<div class="how-it-works__content contentBooking active" id="tab-1">
						<div class="how-it-works__app_container">
							<div class="how-it-works__app_left">
									<picture class="how-it-works__app_img">
										<source srcset="/assets/images/webp/packed-group-trip-planner.webp" type="image/webp">
										<source srcset="/assets/images/png/packed-group-trip-planner.png" type="image/png">
										<img src="/assets/images/png/packed-group-trip-planner.png" alt="screen shots from the packed group trip planner mobile app">
									</picture>
							</div>
							<div class="how-it-works__app_right">
								<div class="how-it-works__mobile__title">
									<h2 class="sectionTitle max750" data-aos="fade-right" data-aos-once="true">
										How our app works
									</h2>
								</div>
								<h2 class="sectionTitle max750 how-it-works__title" data-aos="fade-right" data-aos-once="true">
									Our app helps you find out what everyone wants and when they&#39;re free
								</h2>
								<div class="how-it-works__app__accordion">
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__1 active">Create a trip</div>
										<div class="app-accordion__item-body open">
											<div class="app-accordion__item-body-content">Give it a name and add a few dates, destinations and budgets</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__2">Invite your pals</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Whoever they are, get them involved and voting on what matters</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__3">Put together your plan</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">See everyone’s preferences clearly and in one place</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__4">Be ready to book</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Gather full names, dietary requirements and dates of birth all at the tap of a button</div>
										</div>
									</div>			
								</div>
								
								<div class="how-it-works__app__accordion_mobile_tablet">
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__1">Create a trip</div>
										<div class="app-accordion__item-body open">
											<div class="app-accordion__item-body-content">Give it a name and add a few dates, destinations and budgets</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__2">Invite your pals</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Whoever they are, get them involved and voting on what matters</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__3">Put together your plan</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">See everyone’s preferences clearly and in one place</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__4">Be ready to book</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Gather full names, dietary requirements and dates of birth all at the tap of a button</div>
										</div>
									</div>			
								</div>
								<div class="app-accordion__btn-container">
									<span style="text-align: center;">
										<a class="buttonTheBestLearnMore purpleBg" href="/app/">
											Learn more
										</a>
									</span>
									<p class="app-accordion__btn-subtext">Available on Google Play and the App Store</p>
									<div class="ctaButtonsWrap app-accordion__download-btns">
										<a class="iosAppButtonNewWhite app-accordion__ios-btn" href="https://packed.app.link/app-store" target="_blank"></a>
		
									<a class="androidAppButtonNewWhite app-accordion__play-btn" href="https://packed.app.link/play-store" target="_blank"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="how-it-works__content contentBooking" id="tab-2">
						<div class="how-it-works__app_container flex-column">							
							<div class="how-it-works__app_right">
								<div class="how-it-works__mobile__title">
									<h2 class="sectionTitle max750" data-aos="fade-right" data-aos-once="true">
										How trips work with packed
									</h2>
								</div>
								<h2 class="sectionTitle max750 how-it-works__title" data-aos="fade-right" data-aos-once="true">
									​Let your packed trip planner create the ultimate group trip experience
								</h2>
								<div class="how-it-works__booking_container">
									<div class="how-it-works__booking_item_block">
										<div class="how-it-works__booking_item_img">
											<img src="/assets/images/svg/how-it-works-1.svg">
										</div>
										<div class="how-it-works__booking_item_text">
											<div class="app-accordion__item-header how-it-works__tour-item-header">Tell us what you&#39;re thinking</div>
											<div class="app-accordion__item-body-content">Our experts can advise if you’re not sure</div>
										</div>
									</div>
									<div class="how-it-works__booking_item_block">
										<div class="how-it-works__booking_item_img">
											<img src="/assets/images/svg/how-it-works-2.svg">
										</div>
										<div class="how-it-works__booking_item_text">
											<div class="app-accordion__item-header how-it-works__tour-item-header">We work our magic</div>
											<div class="app-accordion__item-body-content">And send you the best options for your trip</div>
										</div>
									</div>
									<div class="how-it-works__booking_item_block">
										<div class="how-it-works__booking_item_img">
											<img src="/assets/images/svg/how-it-works-3.svg">
										</div>
										<div class="how-it-works__booking_item_text">
											<div class="app-accordion__item-header how-it-works__tour-item-header">Share with friends</div>
											<div class="app-accordion__item-body-content">Pick your favourite and book</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="how-it-works__app_left">
								<picture class="how-it-works__app_img how-it-works__tour_img">
									<source srcset="/assets/images/webp/packed-group-trip-planner-app.webp" type="image/webp">
									<source srcset="/assets/images/png/packed-group-trip-planner-app.png" type="image/png">
									<img src="/assets/images/png/packed-group-trip-planner-app.png" alt="a screen shot from a dates poll on the packed group trip planner mobile app">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="imageDescr container_12 instaContent">

			<div class="stepBox container_12 instaContentFlex">

				<div class="stepRight instaContentRight" data-aos="fade-up" data-aos-once="true">

					<!-- LightWidget WIDGET -->
					<div class="instaFeed">
							<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/e70b1611353e544c9b23cc759703ebbd.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
					</div>
					<div class="mainBoxes__dots bgDotsPurple"></div>
					<img class="app-lines mainBoxes__lines" src="/assets/images/png/app-lines.png">
				</div>

				<div class="stepLeft instaContentLeft">
					<h4 class="sectionTitle" data-aos="fade-right" data-aos-once="true">
						Follow us
					</h4>  
					<!-- <div class="skiWeekendsRightText instaContentLeft" data-aos="fade-left" data-aos-once="true">
						<p>If you&rsquo;ve only got a few days to play with, never fear as France is still a great spot for a ski weekend.</p>
					</div> --->

					<div class="instaSocialContainer">
						<a class="instaIcons instaIcon" href="https://www.instagram.com/all.packed" target="_blank"></a>
						<a class="instaIcons facebookIcon" href="https://www.facebook.com/all.packed" target="_blank"></a>
						<a class="instaIcons linkedinIcon" href="https://www.linkedin.com/company/all-packed/" target="_blank"></a>
					</div>
				</div>

			</div>
		</section>


	<section class="accordionBanner">
		<div class="accordionFlex sContainer">
			<div class="accordionLeft">
				<h4 class="sectionTitle" data-aos="fade-right" data-aos-once="true">
					Frequently asked questions
				</h4> 
				<div class="accordionDots bgDotsBlue"></div>
			</div>
			<div class="accordionRight">
				
				<div class="accordion">
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header">What&#39;s included in a packed holiday?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>To quote the great Cilla Black, the choice... is yours! We can include flights, transfers, accommodation and any extras you might like to include.</p>
								<p>For ski trips, we normally add equipment hire, lift passes and lessons as well.</p>
								<p>We can also include events, activities, special requests, pretty much anything. We can also advise if you&#39;re not sure!</p>
							</div>
						</div>
					</div>
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header">How does the app help?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>Our app is for sorting out your group, which we know can be a struggle. The app simplifies it all - invite your mates and vote on where to go, dates and any other decisions you need to make.</p>
								<p>Once you&#39;ve got your plan, chat to us and we&#39;ll find you the best deals.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header">Do I pay extra to use packed rather than booking myself?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>Not a penny more! We match the prices you&#39;d find direct with hotels and villas, or on websites such as Booking.com and Expedia.</p>
								<p>We receive a small fee from travel providers (smaller and fairer than these big guys!) for bringing lovely people like you to them. </p>
							</div>
						</div>
					</div>
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header ">Do I have to pay for the whole group myself?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>Nope, everyone pays separately on the personalised booking page we set up for you.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header">How is my money protected?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>We are a member of the Travel Trust Association and have an ATOL licence.</p>	
							</div>
						</div>
					</div>
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header ">Am I required to pay for everything upfront?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>Typically you pay a deposit to secure a booking but you may need to pay in full to get cheaper, non-refundable rates, or if you&#39;re departing soon.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item" data-aos="fade-left" data-aos-once="true">
						<div class="accordion-item-header ">Do I need insurance?</div>
						<div class="accordion-item-body">
							<div class="accordion-item-body-content">
								<p>Yes, it really is essential to cover you for things like accidents, missed flights or travel disruptions. It&#39;s a condition of booking that all passengers must purchase their own travel insurance.</p>
								<p>We recommend <a href="https://almost.packed.co/Insurance" target="_blank"><u>World Nomads</u></a>, but wherever you purchase your insurance, please check the policy wording to make sure you have the cover you need</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	@@include('../partials/globals/footer.html')

	</div><!-- close div ID="wrapper" -->

	@@include('../partials/scripts/general.html')
	@@include('../partials/scripts/app-accordion.html')
	@@include('../partials/scripts/faq-accordion.html')
	@@include('../partials/scripts/why-thousands-love-packed.html')
	@@include('../partials/scripts/trip-types.html')
	@@include('../partials/scripts/how-it-works-tabs.html')
	
</body>

</html>