<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> packed | Unforgettable Group Holidays in 2020/21 </title>

	<!-- Enter a brief description of your page -->
		<meta name="description" content="Whether it’s friends, family, colleagues or team-mates, bring them together effortlessly on a group holiday with packed">
		<meta name="keywords" content="group holidays, travel planner, group travel">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="packed" />
		<meta name="robots" content="index, follow">

	<!--facebook-->
		<meta property="og:title" content="packed | Unforgettable Group Holidays in 2020/21"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="https://packed.co/assets/images/jpg/packed-OG-image.jpg"/>
		<meta property="og:image" content="https://packed.co/assets/images/jpg/packed-OG-image2.jpg"/>
		<meta property="og:url" content="https://packed.co/group-holidays/"/>
		<meta property="og:description" content="Whether it’s friends, family, colleagues or team-mates, bring them together effortlessly on a group holiday with packed"/>
	<!--end facebook-->

	<!--twitter-->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="https://packed.co/group-holidays/">
		<meta name="twitter:title" content="packed | Unforgettable Group Holidays in 2020/21">
		<meta name="twitter:description" content="Whether it’s friends, family, colleagues or team-mates, bring them together effortlessly on a group holiday with packed">
		<meta name="twitter:image" content="https://packed.co/assets/images/jpg/packed-twitter-image.jpg">
	<!--end twitter-->


	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700|Rubik:400,500,700&display=swap" rel="stylesheet">


	<!-- CSS -->
	<!-- <link media="all" rel="stylesheet" href="/assets/css/vendor.min.css"> -->
	<link media="all" rel="stylesheet" href="/assets/css/styles.min.css">

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />


	<link rel="canonical" href="https://packed.co/group-holidays/" />

    <link rel="prefetch" href="https://q.quora.com">
    <link rel="prefetch" href="https://www.googleadservices.com">
    <link rel="prefetch" href="https://www.googletagmanager.com">
    <link rel="prefetch" href="https://scontent.cdninstagram.com">
    <link rel="prefetch" href="https://connect.facebook.net">
    <link rel="prefetch" href="https://www.facebook.com">
    <link rel="prefetch" href="https://bat.bing.com">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KVXPGSD');</script>
	<!-- End Google Tag Manager -->

    @@include('../partials/globals/orgSchema.html')

</head>


<body class="homepage">

	<div id="wrapper">

		@@include('../partials/globals/googleTagBelowBody.html')
		@@include('../partials/globals/loader.html')
		@@include('../partials/globals/header.html')
		@@include('../partials/globals/socialBtns.html')

		<div class="topArea topAreaWithImage">
            <div class="topAreaImage" style="background-image: url(/assets/images/jpg/large-group-holidays.jpg);">&nbsp;</div>
			<div class="topContent sContainer">
				<h1 class="topTitle">Unforgettable group trips tailored to you</h1>
				<h2 class="topText">
					Try our free app to get your friends voting on dates, destination &amp; budget. Then receive recommendations personalised to your group&rsquo;s needs.
				</h2>
	
	
				<div class="buttonsContainer">
					<a class="mswButton purpleBg" href="https://m.me/all.packed?ref=Welcome" target="_blank">
						<span class="buttonIcon	whiteMessengerIcon"></span>
						Start in Messenger
					</a>
	
					<a class="mswButton cyanBg" href="https://api.whatsapp.com/send?phone=442039000223" target="_blank">
						<span class="buttonIcon	whiteWhatsappIcon"></span>
						Start in WhatsApp
					</a>
				</div>
	
	
				<div class="feefo">
					<a href="https://www.feefo.com/reviews/packed" target="_blank"><img alt="Feefo logo" border="0" src="/assets/images/png/feefo-logo.png" title="See what our customers say about us" /></a>
				</div>
			</div>
		</div>
	
		@@include('../partials/components/benefits.html')
 
		<section class="how-it-works__section">
			<div class="sContainer how-it-works__container">
				<div class="how-it-works__nav navBooking">
					<a class="navBookingItem active" href="#tab-1">HOW OUR APP WORKS</a>
					<a class="navBookingItem" href="#tab-2">HOW TRIPS WORK WITH PACKED</a>
				</div>
				<div class="bookingPhotos how-it-works__content__container">
					<div class="how-it-works__content contentBooking active" id="tab-1">
						<div class="how-it-works__app_container">
							<div class="how-it-works__app_left">
									<picture class="how-it-works__app_img">
										<source srcset="/assets/images/webp/packed-group-trip-planner.webp" type="image/webp">
										<source srcset="/assets/images/png/packed-group-trip-planner.png" type="image/png">
										<img src="/assets/images/png/packed-group-trip-planner.png" alt="screen shots from the packed group trip planner mobile app">
									</picture>
							</div>
							<div class="how-it-works__app_right">
								<div class="how-it-works__mobile__title">
									<h2 class="sectionTitle max750" data-aos="fade-right" data-aos-once="true">
										How our app works
									</h2>
								</div>
								<h2 class="sectionTitle max750 how-it-works__title" data-aos="fade-right" data-aos-once="true">
									Our app helps you find out what everyone wants and when they&#39;re free
								</h2>
								<div class="how-it-works__app__accordion">
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__1 active">Create a trip</div>
										<div class="app-accordion__item-body open">
											<div class="app-accordion__item-body-content">Give it a name and add a few dates, destinations and budgets</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__2">Invite your pals</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Whoever they are, get them involved and voting on what matters</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__3">Put together your plan</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">See everyone’s preferences clearly and in one place</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header app-accordion__4">Be ready to book</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Gather full names, dietary requirements and dates of birth all at the tap of a button</div>
										</div>
									</div>			
								</div>

								<div class="how-it-works__app__accordion_mobile_tablet">
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__1">Create a trip</div>
										<div class="app-accordion__item-body open">
											<div class="app-accordion__item-body-content">Give it a name and add a few dates, destinations and budgets</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__2">Invite your pals</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Whoever they are, get them involved and voting on what matters</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__3">Put together your plan</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">See everyone’s preferences clearly and in one place</div>
										</div>
									</div>
									<div class="app-accordion__item" data-aos="fade-left" data-aos-once="true">
										<div class="app-accordion__item-header-mobile app-accordion__4">Be ready to book</div>
										<div class="app-accordion__item-body">
											<div class="app-accordion__item-body-content">Gather full names, dietary requirements and dates of birth all at the tap of a button</div>
										</div>
									</div>			
								</div>
								<div class="app-accordion__btn-container">
									<span style="text-align: center;">
										<a class="buttonTheBestLearnMore purpleBg" href="/app/">
											Learn more
										</a>
									</span>
									<p class="app-accordion__btn-subtext">Available on Google Play and the App Store</p>
									<div class="ctaButtonsWrap app-accordion__download-btns">
										<a class="iosAppButtonNewWhite app-accordion__ios-btn" href="https://packed.app.link/app-store" target="_blank"></a>
		
									<a class="androidAppButtonNewWhite app-accordion__play-btn" href="https://packed.app.link/play-store" target="_blank"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="how-it-works__content contentBooking" id="tab-2">
						<div class="how-it-works__app_container flex-column">							
							<div class="how-it-works__app_right">
								<div class="how-it-works__mobile__title">
									<h2 class="sectionTitle max750" data-aos="fade-right" data-aos-once="true">
										How trips work with packed
									</h2>
								</div>
								<h2 class="sectionTitle max750 how-it-works__title" data-aos="fade-right" data-aos-once="true">
									​Let your packed trip planner create the ultimate group trip experience
								</h2>
								<div class="how-it-works__booking_container">
									<div class="how-it-works__booking_item_block">
										<div class="how-it-works__booking_item_img">
											<img src="/assets/images/svg/how-it-works-1.svg">
										</div>
										<div class="how-it-works__booking_item_text">
											<div class="app-accordion__item-header how-it-works__tour-item-header">Tell us what you&#39;re thinking</div>
											<div class="app-accordion__item-body-content">Our experts can advise if you’re not sure</div>
										</div>
									</div>
									<div class="how-it-works__booking_item_block">
										<div class="how-it-works__booking_item_img">
											<img src="/assets/images/svg/how-it-works-2.svg">
										</div>
										<div class="how-it-works__booking_item_text">
											<div class="app-accordion__item-header how-it-works__tour-item-header">We work our magic</div>
											<div class="app-accordion__item-body-content">And send you the best options for your trip</div>
										</div>
									</div>
									<div class="how-it-works__booking_item_block">
										<div class="how-it-works__booking_item_img">
											<img src="/assets/images/svg/how-it-works-3.svg">
										</div>
										<div class="how-it-works__booking_item_text">
											<div class="app-accordion__item-header how-it-works__tour-item-header">Share with friends</div>
											<div class="app-accordion__item-body-content">Pick your favourite and book</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="how-it-works__app_left">
								<picture class="how-it-works__app_img how-it-works__tour_img">
									<source srcset="/assets/images/webp/packed-group-trip-planner-app.webp" type="image/webp">
									<source srcset="/assets/images/png/packed-group-trip-planner-app.png" type="image/png">
									<img src="/assets/images/png/packed-group-trip-planner-app.png" alt="a screen shot from a dates poll on the packed group trip planner mobile app">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        
        @@include('../partials/components/why-thousands-love-packed.html')

		<!--CSS is expandable-banner -->
        <section class="sContainer expandable-content">
            <div class="expandable-content__container">
				<div class="expandable-content__img_mobile_container">
						<div class="expandable-content__img_mobile"></div>
				</div>
				<div class="expandable-content__text-container">
                    <div class="expandable-content__title sectionTitle max750">Great group holidays</div>
                    <div class="expandable-content__text">
                        <p>Nothing beats a big group holiday with your friends, family or favourite work colleagues.</p>

                        <p>Whether you're planning a rowdy stag do for your best mate, an epic corporate retreat for the office or you simply want some quality time away with your loved ones, there are so many reasons why group holidays are the way to go.<span id="expandabledots">..</span></p><span id="expandableReadMore">
                            
                        <p>Group holidays are fun, sociable and memorable, and they often work out better for your bank balance, too. If you’re sharing the cost of accommodation, you’ll be able to go for something awesome - think a luxurious villa with an infinity pool in Spain or a cool <u><a href="/ski-holidays/ski-chalet-holidays/">ski chalet in the Alps</a></u>. What’s more, once-in-a-lifetime activities like helicopter rides and private catamaran trips can be up for grabs at a fraction of the price if you’re dividing all the costs.</p>
                            
                        <p>With packed, you can tailor your group trip to suit everyone and then split the costs between you - which just makes good sense.</p></span>
                    </div>
                    <button onclick="readMoreLess()" class="expandable-content__btn" id="expandableContentBtn">Learn more...</button>
                </div>
                <div class="expandable-content__img-container"></div>
                <div class="mainBoxes__dots bgDotsPurple expandable-content__dots"></div>
                <img class="expandable-content__lines mainBoxes__lines" src="/assets/images/svg/lines-3.svg">
            </div>
        </section>
        
        <section class="partying sContainer">

            <picture class="morePartyingDesktop">
                <source srcset="/assets/images/webp/more-party.webp" type="image/webp">
                <source srcset="/assets/images/png/more-party.png" type="image/png">
                <img src="/assets/images/png/more-party.png" alt="" />
            </picture>
    
            <picture class="morePartyingMobile">
                <source srcset="/assets/images/webp/more-partying-mobile.webp" type="image/webp">
                <source srcset="/assets/images/png/more-partying-mobile.png" type="image/png">
                <img src="/assets/images/png/more-partying-mobile.png" alt="" />
            </picture>
    
        </section>
        
		<!--CSS is expandable-banner -->
        <section class="sContainer expandable-content">
            <div class="expandable-content__container flex-row-reverse">
				<div class="expandable-content__img_mobile_container">
					<div class="expandable-content__img_mobile expandable-content__img_mobile2"></div>
				</div>
                <div class="expandable-content__text-container">
                    <div class="expandable-content__title sectionTitle max750">Find group holidays challenging? Just book with packed</div>
                    <div class="expandable-content__text">
                        <p>You might be sold on the idea of a big group holiday, but being nominated the designated travel planner can mean a lot of hassle. You need to work out everyone&#39;s availability, decide on a location and find suitable accommodation for the entire group. And that&#39;s all without the added stress of chasing everyone up for deposits.<span id="expandabledots2">..</span></p><span id="expandableReadMore2">
                            
                        <p>Nothing screams awkward like chasing up your friend for the 7th time in a row and getting nothing but blue ticks back. Luckily, this is where packed can save the day (and your sanity)...</p>
                            
                        <p>Our team are experts when it comes to coordinating epic group travel, and they&#39;re just a quick and convenient chat away. Between us, we&#39;ve been on hundreds of group trips and we&#39;ve helped to plan thousands, so we know what it takes to plan the getaway of the century. We take care of all the nitty gritty for you, including securing payments from everyone individually so you - as the group leader - are never out of pocket.</p>
                    
                        <p>When all the essential details are sorted, we&#39;ll book everything on your behalf, whether that&#39;s flights and airport transfers, amazing accommodation or a kickass itinerary of activities. Need more info? Check out our <u><a href="/how-it-works/">how it works</a></u> page.</p></span>
                    </div>
                    <button onclick="readMoreLess2()" class="expandable-content__btn" id="expandableContentBtn2">Learn more...</button>
                </div>
                <div class="expandable-content__img-container2"></div>
                <div class="mainBoxes__dots bgDotsPurple expandable-content__dots2"></div>
                <img class="expandable-content__lines2 mainBoxes__lines" src="/assets/images/svg/lines-3.svg">
            </div>
        </section>


		<!--CSS is light-purple-banner -->
        <section class="light-purple-banner">
            <div class="sContainer light-purple-banner__container">
                <div class="light-purple-banner__column_left_40">
                    <div class="light-purple-banner__img_container">
                        <picture class="light-purple-banner__img">
                            <source srcset="/assets/images/webp/organising-your-friends.webp" type="image/webp">
                            <source srcset="/assets/images/png/organising-your-friends.png" type="image/png">
                            <img src="/assets/images/png/organising-your-friends.png" alt="An illustration of a group WhatsApp chat organising a holiday" />
                        </picture>
                    </div>
                </div>
                <div class="light-purple-banner__column_right_60">
                    <div class="light-purple-banner__text_container">
                        <h2 class="sectionTitle max750 light-purple-banner__title" data-aos="fade-right" data-aos-once="true">
                            Organising your friends shouldn&#39;t take 1,000 WhatsApps
                        </h2>
                        <div class="light-purple-banner__text">
                            <p>One of the big challenges in getting your group on holiday is getting commitment. We launched the <u><a href="/app/">packed app</a></u> to help you get your team together faster and with less stress.</p>
                            
                            <p>It&#39;s like Doodle for group holidays, and lets you poll friends for the dates they&#39;re available, agree on location, and even lets you all vote on how much you&#39;re willing to spend (anonymous voting is an option).</p> 
                            
                            <p>You can also request travel information like full names, dates of birth and dietary requirements at the tap of a button. Real handy, especially for large groups.</p>
                        </div>
                        <div class="light-purple-banner__app_btns">
                            <!--<span class="footerNavTitle">Download our app</span>--->
                            <a class="iosAppButtonNew" href="https://packed.app.link/app-store" target="_blank"></a>
        
                            <a class="androidAppButtonNew" href="https://packed.app.link/play-store" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<!-- CSS in pages/group-holidays.scss. JS for mobile expandable text is in scripts/what-holiday.html -->
        <section class="what-holiday">
            <div class="sContainer what-holiday__container">
                <div class="light-purple-banner__column_left_50 what-holiday__text_desktop_tablet">
                    <div class="light-purple-banner__text_container">
                        <h2 class="sectionTitle max750 light-purple-banner__title" data-aos="fade-right" data-aos-once="true">
                            So, what sort of group holiday do you fancy?
                        </h2>
                        <div class="light-purple-banner__text">
                            <p>From stag and hen dos through to rowdy weekends away with your teammates, there are so many great group holidays we can help you plan out and pull off. </p>
                            
                            <p>Whether it&#39;s your annual girls&#39; trip, your nan&#39;s 90th or an epic ski trip designed to bring people together, we&#39;ll make sure it goes smoothly from start to finish. We&#39;re there every step of the way, so you can focus all your energy on more important things like putting together the perfect holiday wardrobe or making a list of all the bars and restaurants you want to visit.</p>
                            
                            <p>Zen yoga retreat, thrilling ski getaway, lazy week in the Med - tailor your getaway to be as relaxed or as active as you like. No idea is too wild and if you&#39;ve got any special requests, we&#39;ll do our best to get them sorted for you. </p> 
                        </div>
                    </div>
				</div>
				<div class="what-holiday__text_mobile">
						<div class="expandable-content__container">
							<div class="expandable-content__text-container">
								<div class="expandable-content__title sectionTitle max750">Find group holidays challenging? Just book with packed</div>
								<div class="expandable-content__text">
									<p>From stag and hen dos through to rowdy weekends away with your teammates, there are so many great group holidays we can help you plan out and pull off. </p>
                            
									<p>Whether it&#39;s your annual girls&#39; trip, your nan&#39;s 90th or an epic ski trip designed to bring people together, we&#39;ll make sure it goes smoothly from start to finish.<span id="expandabledots3">..</span></p><span id="expandableReadMore3">
                            
									<p>We&#39;re there every step of the way, so you can focus all your energy on more important things like putting together the perfect holiday wardrobe or making a list of all the bars and restaurants you want to visit.</p>
											
									<p>Zen yoga retreat, thrilling ski getaway, lazy week in the Med - tailor your getaway to be as relaxed or as active as you like. No idea is too wild and if you&#39;ve got any special requests, we&#39;ll do our best to get them sorted for you.</p></span>
									
								</div>
								<button onclick="readMoreLess3()" class="expandable-content__btn" id="expandableContentBtn3">Learn more...</button>
							</div>
						</div>
				</div>
                <div class="light-purple-banner__column_right_50">
                    <div class="what-holiday__img_container">
                        <picture class="what-holiday__img">
                            <source srcset="/assets/images/webp/what-sort-of-holidays.webp" type="image/webp">
                            <source srcset="/assets/images/png/what-sort-of-holidays.png" type="image/png">
                            <img src="/assets/images/png/what-sort-of-holidays.png" alt="A collage of pictures of groups of people on holiday" />
                        </picture>
                        <div class="mainBoxes__dots bgDotsPurple what-holiday__dots"></div>
                        <img class="what-holiday__lines mainBoxes__lines" src="/assets/images/svg/lines-3.svg">
                    </div>
                </div>
            </div>
        </section>


        @@include('../partials/components/group-top-tabs.html')


        <section class="customersOpinion sContainer">

            @@include('../partials/components/feefoCarousel.html')
            
        </section>


		@@include('../partials/components/pressIcons.html')


        <section class="light-purple-banner">
            <div class="sContainer light-purple-banner__container flex-column">
                <div class="light-purple-banner__column_left_50">
                    <div class="light-purple-banner__img_container" style="padding-top: 0">
                        <picture class="light-purple-banner__img">
                            <source srcset="/assets/images/webp/ready-to-book-with-packed.webp" type="image/webp">
                            <source srcset="/assets/images/png/ready-to-book-with-packed.png" type="image/png">
                            <img src="/assets/images/png/ready-to-book-with-packed.png" alt="A group of young people on a holiday looking at an ipad" />
                        </picture>
                    </div>
                </div>
                <div class="light-purple-banner__column_right_50">
                    <div class="light-purple-banner__text_container">
                        <h2 class="sectionTitle max750 light-purple-banner__title" data-aos="fade-right" data-aos-once="true">
                            Ready to book your group holiday with packed?
                        </h2>
                        <div class="light-purple-banner__text">
                            <p>Great. We&#39;re waiting to send you off on your dream trip. Just drop us a message on WhatsApp or Messenger and a member of our team is ready to help. As well as booking hotels and organising the ideal activities for your trip, we&#39;ll take care of flight reservations, and make sure you get from A to B without a hitch. If you have any issues, you won&#39;t be left sifting through emails searching for contact details – just drop us a message and we&#39;ll sort it out for you pronto.</p>
                            
                            <p>Oh, did we mention we&#39;re ATOL protected? Well, we are. Another load off your mind.</p> 
                        
                        </div>
                        <div class="light-purple-banner__app_btns">
                            <span class="light-purple-banner__get_started" style="text-align: center;">
                                <a class="buttonTheBestLearnMore purpleBg" href="https://m.me/all.packed?ref=Welcome">
                                    Get started
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>   

        <section class="moreImage sContainer">
            <!-- <img class="moreSunDesktop" src="/assets/images/more-sunbathing-less-stress.png" />  -->
            <picture class="moreSunDesktop">
                <source srcset="/assets/images/webp/more-sunbathing-less-stress.webp" type="image/webp">
                <source srcset="/assets/images/png/more-sunbathing-less-stress.png" type="image/png">
                <img src="/assets/images/png/more-sunbathing-less-stress.png" alt="" />
            </picture>
    
            <!-- <img class="moreSunMobile" src="/assets/images/more-sunbathing-mobile.png" /> -->
            <picture class="moreSunMobile">
                <source srcset="/assets/images/webp/more-sunbathing-mobile.webp" type="image/webp">
                <source srcset="/assets/images/png/more-sunbathing-mobile.png" type="image/png">
                <img src="/assets/images/png/more-sunbathing-mobile.png" alt="" />
            </picture>
        </section> 

	    @@include('../partials/globals/footer.html')

	</div><!-- close div ID="wrapper" -->

	@@include('../partials/scripts/general.html')
	@@include('../partials/scripts/why-thousands-love-packed.html')
	@@include('../partials/scripts/feefo-carousel.html')
	@@include('../partials/scripts/how-it-works-tabs.html')
    @@include('../partials/scripts/expandable-content.html')
	@@include('../partials/scripts/group-top-tabs.html')
	@@include('../partials/scripts/what-holiday.html')
	@@include('../partials/scripts/app-accordion.html')

</body>

</html>