.no-webp{
	.topAreaImageHome{
		background-image: url(../images/jpg/group-holiday.jpg);
	}
	.bookPhotoContainer1{
		background-image: url(../images/png/book1.png);
	}
	.bookPhotoContainer2{
		background-image: url(../images/png/book2.png);
	}
	.bookPhotoContainer3{
		background-image: url(../images/png/book3.png);
	}
	.holidayImage1{
		background-image: url(../images/jpg/group-ski-trips.jpg);
	}
	.holidayImage2{
		background-image: url(../images/jpg/group-summer-holidays.jpg);
	}
	.holidayImage3{
		background-image: url(../images/jpg/lads-holiday.jpg);
	}
	.holidayImage4{
		background-image: url(../images/jpg/hen-weekends.jpg);
	}
	.holidayImage5{
		background-image: url(../images/jpg/group-city-breaks.jpg);
	}
	.holidayImage6{
		background-image: url(../images/jpg/company-holidays.jpg);
	}
	.iosAppButton{
		background-image: url(../images/png/ios.png);
	}
	.androidAppButton{
		background-image: url(../images/png/android.png);
	}
	// .skiAndorraBkg {
	// 	background-image: url(../images/png/group-ski-trips-to-andorra.png);
	// }
	.imgTarter {
		background-image: url(../images/jpg/ski-holidays-in-El-Tarter.jpg);
	}
	.imgVallnord {
		background-image: url(../images/jpg/ski-holidays-in-Vallnord.jpg);
	}
	.imgArinsal {
		background-image: url(../images/jpg/ski-holidays-in-Arinsal.jpg);
	}
	.imgPasDelaCasa {
		background-image: url(../images/jpg/ski-holidays-in-pas-de-la-casa.jpg);
	}
	.imgSoldeu {
		background-image: url(../images/jpg/ski-holidays-in-Soldeu.jpg);
	}
	.skiAustriaimgTab1 {
		background-image: url(../images/jpg/ski-accomodation-austria.jpg);
	}
	.skiAustriaimgTab2 {
		background-image: url(../images/jpg/get-to-ski-resort.jpg);
	}
	.skiAustriaimgTab3 {
		background-image: url(../images/jpg/austrian-ski-culture.jpg);
	}
	.skiAndorraimgTab1 {
		background-image: url(../images/jpg/ski-accomodation-andorra.jpg);
	}
	.skiAndorraimgTab2 {
		background-image: url(../images/jpg/get-to-ski-resort.jpg);
	}
	.skiAndorraimgTab3 {
		background-image: url(../images/jpg/andorran-ski-culture.jpg);
	}
	.imgArlberg {
		background-image: url(../images/jpg/ski-holidays-in-st-anton.jpg);
	}
	.imgKitzb {
		background-image: url(../images/jpg/ski-holidays-in-kitzbuhel.jpg);
	}
	.imgSaalbach {
		background-image: url(../images/jpg/ski-holidays-in-Saalbach.jpg);
	}
	.imgInnsbruck {
		background-image: url(../images/jpg/ski-holidays-in-innsbruck.jpg);
	}
	.imgIschgl {
		background-image: url(../images/jpg/ski-holidays-in-ischgl.jpg);
	}
	.imgKitzbuhel {
		background-image: url(../images/jpg/ski-holidays-in-kitzbuhel.jpg);
	}
	.imgLech {
		background-image: url(../images/jpg/ski-holidays-in-lech.jpg);
	}
	.imgMayrhofen {
		background-image: url(../images/jpg/ski-holidays-in-Mayrhofen.jpg);
	}
	.imgObergurgl {
		background-image: url(../images/jpg/ski-holidays-in-Obergurgl.jpg);
	}
	.imgSoll {
		background-image: url(../images/jpg/ski-holidays-in-soll.jpg);
	}
	.imgStAnton {
		background-image: url(../images/jpg/ski-holidays-in-st-anton.jpg);
	}
	.imgStuben {
		background-image: url(../images/jpg/ski-holidays-in-Stuben.jpg);
	}
	.imgZell {
		background-image: url(../images/jpg/ski-holidays-in-Zell-am-See.jpg);
	}
	.topAustria {
		background-image: url(../images/jpg/group-ski-holidays-in-Austria.jpg);
	}
	.topAndorra {
		background-image: url(../images/jpg/group-ski-holidays-in-Andorra.jpg);
	}
} 

.webp{
	.topAreaImageHome{
		background-image: url(../images/webp/group-holiday.webp);
	}
	.bookPhotoContainer1{
		background-image: url(../images/webp/book1.webp);
	}
	.bookPhotoContainer2{
		background-image: url(../images/webp/book2.webp);
	}
	.bookPhotoContainer3{
		background-image: url(../images/webp/book3.webp);
	}
	.holidayImage1{
		background-image: url(../images/webp/group-ski-trips.webp);
	}
	.holidayImage2{
		background-image: url(../images/webp/group-summer-holidays.webp);
	}
	.holidayImage3{
		background-image: url(../images/webp/lads-holiday.webp);
	}
	.holidayImage4{
		background-image: url(../images/webp/hen-weekends.webp);
	}
	.holidayImage5{
		background-image: url(../images/webp/group-city-breaks.webp);
	}
	.holidayImage6{
		background-image: url(../images/webp/company-holidays.webp);
	}
	.iosAppButton{
		background-image: url(../images/webp/ios.webp);
	}
	.androidAppButton{
		background-image: url(../images/webp/android.webp);
	}
	.skiAndorraBkg {
		background-image: url(../images/webp/group-ski-trips-to-andorra.webp);
	}
	.imgTarter {
		background-image: url(../images/webp/ski-holidays-in-El-Tarter.webp);
	}
	.imgVallnord {
		background-image: url(../images/webp/ski-holidays-in-Vallnord.webp);
	}
	.imgArinsal {
		background-image: url(../images/webp/ski-holidays-in-Arinsal.webp);
	}
	.imgPasDelaCasa {
		background-image: url(../images/webp/ski-holidays-in-pas-de-la-casa.webp);
	}
	.imgSoldeu {
		background-image: url(../images/webp/ski-holidays-in-Soldeu.webp);
	}
	.skiAustriaimgTab1 {
		background-image: url(../images/webp/ski-accomodation-austria.webp);
	}
	.skiAustriaimgTab2 {
		background-image: url(../images/webp/get-to-ski-resort.webp);
	}
	.skiAustriaimgTab3 {
		background-image: url(../images/webp/austrian-ski-culture.webp);
	}
	.skiAndorraimgTab1 {
		background-image: url(../images/webp/ski-accomodation-andorra.webp);
	}
	.skiAndorraimgTab2 {
		background-image: url(../images/webp/get-to-ski-resort.webp);
	}
	.skiAndorraimgTab3 {
		background-image: url(../images/webp/andorran-ski-culture.webp);
	}
	.imgArlberg {
		background-image: url(../images/webp/ski-holidays-in-st-anton.webp);
	}
	.imgKitzb {
		background-image: url(../images/webp/ski-holidays-in-kitzbuhel.webp);
	}
	.imgSaalbach {
		background-image: url(../images/webp/ski-holidays-in-Saalbach.webp);
	}
	.imgInnsbruck {
		background-image: url(../images/webp/ski-holidays-in-innsbruck.webp);
	}
	.imgIschgl {
		background-image: url(../images/webp/ski-holidays-in-ischgl.webp);
	}
	.imgKitzbuhel {
		background-image: url(../images/webp/ski-holidays-in-kitzbuhel.webp);
	}
	.imgLech {
		background-image: url(../images/webp/ski-holidays-in-lech.webp);
	}
	.imgMayrhofen {
		background-image: url(../images/webp/ski-holidays-in-Mayrhofen.webp);
	}
	.imgObergurgl {
		background-image: url(../images/webp/ski-holidays-in-Obergurgl.webp);
	}
	.imgSoll {
		background-image: url(../images/webp/ski-holidays-in-soll.webp);
	}
	.imgStAnton {
		background-image: url(../images/webp/ski-holidays-in-st-anton.webp);
	}
	.imgStuben {
		background-image: url(../images/webp/ski-holidays-in-Stuben.webp);
	}
	.imgZell {
		background-image: url(../images/webp/ski-holidays-in-Zell-am-See.webp);
	}
	.topAustria {
		background-image: url(../images/webp/group-ski-holidays-in-Austria.webp);
	}
	.topAndorra {
		background-image: url(../images/webp/group-ski-holidays-in-Andorra.webp);
	}


	/*Ioana Start*/
	.holidayImage7{
		background-image: url(../images/webp/snow.webp);
	}
	.holidayImage8{
		background-image: url(../images/webp/city.webp);
	}
	.holidayImage9{
		background-image: url(../images/webp/sun.webp);
	}
	.holidayImage10{
		background-image: url(../images/webp/hen-ski-trip.webp);
	}
	.holidayImage11{
		background-image: url(../images/webp/city-hen-party.webp);
	}
	.holidayImage12{
		background-image: url(../images/webp/sunny-her-party.webp);
	}
	.holidayImage13{
		background-image: url(../images/webp/corporate-ski-trip.webp);
	}
	.holidayImage14{
		background-image: url(../images/webp/corporate-city-break.webp);
	}
	.holidayImage15{
		background-image: url(../images/webp/corporate-beach-break.webp);
	}
	
	.holidayImage16{
		background-image: url(../images/webp/girls_city.webp);
	}
	.holidayImage17{
		background-image: url(../images/webp/girls_sun.webp);
	}
	
	.checkoutImg1{
		background-image: url(../images/webp/check-out-our-blog.webp);
	}
	.checkoutImg2{
		background-image: url(../images/webp/check-out-our-blog-1.webp);
	}
	.checkoutImg3{
		background-image: url(../images/webp/check-out-our-blog-2.webp);
	}
	.checkoutImg4{
		background-image: url(../images/webp/hen-weekends-blog-stress-free-hen-party.webp);
	}
	.checkoutImg5{
		background-image: url(../images/webp/hen-weekends-blog-creative-hen-do-destinations.webp);
	}
	.checkoutImg6{
		background-image: url(../images/webp/hen-weekends-blog-best-activities.webp);
	}
} 