<head>
	<meta charset="UTF-8">
	<title> @@title </title>

	<!-- Enter a brief description of your page -->
		<meta name="description" content="@@metaDescription">
		<meta name="keywords" content="@@metaKeywords">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="packed" />
		<meta name="robots" content="@@robots">

	<!--facebook-->
		<meta property="og:title" content="@@facebookTitle"/>
		<meta property="og:type" content="@@facebookType"/>
		<meta property="og:image" content="@@facebookImage"/>
		<meta property="og:image" content="@@whatsappImage"/>
		<meta property="og:url" content="@@facebookUrl"/>
		<meta property="og:description" content="@@facebookDescription"/>
	<!--end facebook-->

	<!--twitter-->
		<meta name="twitter:card" content="@@twitterCard">
		<meta name="twitter:url" content="@@twitterUrl">
		<meta name="twitter:title" content="@@twitterTitle">
		<meta name="twitter:description" content="@@twitterDescription">
		<meta name="twitter:image" content="@@twitterImage">
	<!--end twitter-->


	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700|Rubik:400,500,700&display=swap" rel="stylesheet">

			
	<!-- CSS -->
	<!-- <link media="all" rel="stylesheet" href="/assets/css/vendor.min.css"> -->
	<link media="all" rel="stylesheet" href="/assets/css/styles.min.css">

	<!-- <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" /> -->
	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />


	<link rel="canonical" href="@@canonical" />


	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KVXPGSD');</script>
	<!-- End Google Tag Manager -->

</head>