<footer class="siteFooter">
    	<div class="sContainer footerContainer">
			<div class="footerTop"><button id="back-to-top-btn" class="footerBackToTop"><p class="footerBackToTop-text">BACK TO THE TOP</p></button></div>
    		<div class="footerNavs">
    			<div class="footerNav1">
    				<a class="footerLogo" href="/">
    					<img src="/assets/images/png/logo.png" alt="">
    				</a>
    				<a class="mswButton purpleBg" href="https://m.me/all.packed?ref=Welcome" target="_blank">
        				<span class="buttonIcon	whiteMessengerIcon"></span>
        				Start in Messenger
        			</a>
        			<a class="mswButton cyanBg" href="https://api.whatsapp.com/send?phone=442039000223" target="_blank">
        				<span class="buttonIcon	whiteWhatsappIcon"></span>
        				Start in WhatsApp
        			</a>
    			</div>
    			<div class="footerNav2">
    				<nav class="footerNavMenu">
    					<h6 class="footerNavTitle">Holidays by type</h6>
    					<ul class="footerNavList">
    						<li class="footerNavItem"><a class="footerNavLink" href="/ski-holidays">Ski holidays</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/city-breaks">City breaks</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/sun-holidays">Summer holidays</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/stag-do">Stag weekends</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/hen-do">Hen weekends</a></li>
    					</ul>
    				</nav>
    			</div>
    			<div class="footerNav3">
    				<nav class="footerNavMenu">
    					<h6 class="footerNavTitle">Holidays by group</h6>
    					<ul class="footerNavList">
    						<li class="footerNavItem"><a class="footerNavLink" href="/lads-holidays">Lads holidays</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/girls-holidays">Girls holidays</a></li>
								<li class="footerNavItem"><a class="footerNavLink" href="/team-building-trips">Company trips</a></li>
    						<!-- <li class="footerNavItem"><a class="footerNavLink" href="/friends-holidays">Trips with friends</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/family-holidays">Family holidays</a></li> -->
    						<li class="footerNavItem"><a class="footerNavLink" href="/community-trips">Community trips</a></li>
    					</ul>
    				</nav>
    			</div>
    			<div class="footerNav4">
    				<nav class="footerNavMenu">
    					<h6 class="footerNavTitle">About us</h6>
    					<ul class="footerNavList">
    						<li class="footerNavItem"><a class="footerNavLink" href="/our-story">Our story</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/how-it-works">How it works</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/app">The app</a></li>
    						<li class="footerNavItem"><a class="footerNavLink" href="/blog">Blog</a></li>
                            <li class="footerNavItem"><a class="footerNavLink" href="/thecalmzone">CALM</a></li>
							<li class="footerNavItem"><a class="footerNavLink" href="/info/faq">FAQs</a></li>
    					</ul>
    				</nav>
    			</div>
    		</div>
    		<div class="footerBottom">
    			<div class="fatolProtected">
    				<!--<span class="footerNavTitle">ATOL protected</span>-->
					<div class="ATOL protected">
						<p class="footerNavTitle topAtol">ATOL</p>
						<p class="footerNavTitle">protected</p>
					</div>					
					<picture>
						<source srcset="/assets/images/webp/atol-logo.webp" type="image/webp">
    				    <source srcset="/assets/images/png/atol-logo.png" type="image/png">
    				    <img src="/assets/images/png/atol-logo.png" alt="ATOL protected" />
    				</picture>

    				<picture>
    				    <source srcset="/assets/images/webp/tta-logo.webp" type="image/webp">
    				    <source srcset="/assets/images/png/tta-logo.png" type="image/png">
    				    <img src="/assets/images/png/tta-logo.png" alt="Overwhelmed with options?" />
    				</picture>
    			</div>
    			<div class="fdownloadApp">
    				<!--<span class="footerNavTitle">Download our app</span>--->
    				<a class="iosAppButtonNew" href="https://packed.app.link/app-store" target="_blank"></a>

    				<a class="androidAppButtonNew" href="https://packed.app.link/play-store" target="_blank"></a>
				</div>
				<div class="instaSocialContainer">
					<a class="instaIcons instaIcon" href="https://www.instagram.com/all.packed" target="_blank"></a>
					<a class="instaIcons facebookIcon" href="https://www.facebook.com/all.packed" target="_blank"></a>
					<a class="instaIcons linkedinIcon" href="https://www.linkedin.com/company/all-packed/" target="_blank"></a>
				</div>
    			<!--<div class="fSocial">
    				<span class="footerNavTitle">Follow us</span>
    				<a href="https://www.facebook.com/all.packed" target="_blank" class="socialIcon facebookPage"></a>
    				<a href="https://www.instagram.com/all.packed " target="_blank" class="socialIcon indstagramPage"></a>
    			</div>--->
    		</div>
    	</div>
    	<div class="rebranded"><a href="/myswft">MySwft has rebranded to packed</a></div>
	</footer>
	
	<script>
		const backToTopButton = document.querySelector("#back-to-top-btn");

		backToTopButton.addEventListener("click", smoothScrollBackToTop);

		function smoothScrollBackToTop() {
		const targetPosition = 0;
		const startPosition = window.pageYOffset;
		const distance = targetPosition - startPosition;
		const duration = 750;
		let start = null;
		
		window.requestAnimationFrame(step);

		function step(timestamp) {
			if (!start) start = timestamp;
			const progress = timestamp - start;
			window.scrollTo(0, easeInOutCubic(progress, startPosition, distance, duration));
			if (progress < duration) window.requestAnimationFrame(step);
		}
		}

		function easeInOutCubic(t, b, c, d) {
			t /= d/2;
			if (t < 1) return c/2*t*t*t + b;
			t -= 2;
			return c/2*(t*t*t + 2) + b;
		};

	</script>