<header class="siteHeader">
	<div class="sContainer headerContainer">
		<a href="/" class="logo">
			<img src="/assets/images/png/logo.png" alt="" />
		</a>

		<nav class="mainNav">
			<ul class="mainMenu">
				<li class="mainMenuItem"><a href="/our-story" class="mainMenuLink @@ourStoryActive">Our story</a></li>
				<li class="mainMenuItem"><a href="/how-it-works" class="mainMenuLink @@howItWorksActive">How it works</a></li>
				<li class="mainMenuItem hasSubmenu">
					<a href="javascript:void(0);" class="mainMenuLink @@ourHolidaysActive">Our holidays</a>
					<div class="subMenuContainer">

						<div class="subMenuListWrap">
							<h3 class="subMenuTitle">Holidays by type</h3>
							<ul class="submenuList">
								<li class="subMenuItem"><a href="/ski-holidays" class="subMenuLink">Ski holidays</a></li>
								<li class="subMenuItem"><a href="/city-breaks" class="subMenuLink">City breaks</a></li>
								<li class="subMenuItem"><a href="/sun-holidays" class="subMenuLink">Summer holidays</a></li>
								<li class="subMenuItem"><a href="/stag-do" class="subMenuLink">Stag weekends</a></li>
								<li class="subMenuItem"><a href="/hen-do" class="subMenuLink">Hen weekends</a></li>
							</ul>
						</div>

						<div class="subMenuListWrap">
							<h3 class="subMenuTitle">Holidays by group</h3>
							<ul class="submenuList">
								<li class="subMenuItem"><a href="/lads-holidays" class="subMenuLink">Lads holidays</a></li>
								<li class="subMenuItem"><a href="/girls-holidays" class="subMenuLink">Girls holidays</a></li>
									<li class="subMenuItem"><a href="/team-building-trips" class="subMenuLink">Company trips</a></li>
								<!-- <li class="subMenuItem"><a href="/friends-holidays" class="subMenuLink">Trips with friends</a></li>
								<li class="subMenuItem"><a href="/family-holidays" class="subMenuLink">Family holidays</a></li>
								<li class="subMenuItem"><a href="/community-trips" class="subMenuLink">Community trips</a></li> -->
							</ul>
						</div>

					</div>

				</li>
				<li class="mainMenuItem hasSubmenu blogItemMenu">
					<a href="javascript:void(0);" class="mainMenuLink">Blog</a>
					<div class="subMenuContainer blogSubmenu">
				
						<div class="subMenuListWrap ">
							<ul class="submenuList">
								<li class="subMenuItem"><a href="https://packed.co/blog/" class="subMenuLink">Blog home</a></li>
								<li class="subMenuItem"><a href="https://packed.co/blog/tag/snow/" class="subMenuLink">Snow</a></li>
								<li class="subMenuItem"><a href="https://packed.co/blog/tag/stag-weekends/" class="subMenuLink">Stag</a></li>
								<li class="subMenuItem"><a href="https://packed.co/blog/tag/hen-weekends/" class="subMenuLink">Hen</a></li>
								<li class="subMenuItem"><a href="https://packed.co/blog/tag/team-building/" class="subMenuLink">Team building</a></li>
							</ul>
						</div>
				
					</div>
				</li>
				<li class="mainMenuItem"><a href="/app" class="mainMenuLink @@appActive">App</a></li>
				<li class="mainMenuItem"><a target="_blank" href="https://get.packed.co/members/default.aspx" class="mainMenuLink">My Account</a></li>
			</ul>

		</nav>

		<div id="mobileButton" class="mobileButton" onclick="mobileMenu();">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>

	</div>
</header>