<div id="pageLoader">
	<div id="loader">
		<div id="plane">
			<svg aria-hidden="true" class="svg-inline--fa fa-plane fa-w-18" data-icon="plane" data-prefix="fas" focusable="false" role="img" viewbox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M480 192H365.71L260.61 8.06A16.014 16.014 0 0 0 246.71 0h-65.5c-10.63 0-18.3 10.17-15.38 20.39L214.86 192H112l-43.2-57.6c-3.02-4.03-7.77-6.4-12.8-6.4H16.01C5.6 128-2.04 137.78.49 147.88L32 256 .49 364.12C-2.04 374.22 5.6 384 16.01 384H56c5.04 0 9.78-2.37 12.8-6.4L112 320h102.86l-49.03 171.6c-2.92 10.22 4.75 20.4 15.38 20.4h65.5c5.74 0 11.04-3.08 13.89-8.06L365.71 320H480c35.35 0 96-28.65 96-64s-60.65-64-96-64z" fill="currentColor"></path></svg></div>
		<p>
			<span>Planning</span> your amazing trip</p>
		<div class="lds-ellipsis">
			<div>
				&nbsp;</div>
			<div>
				&nbsp;</div>
			<div>
				&nbsp;</div>
			<div>
				&nbsp;</div>
		</div>
	</div>
</div>
<style type="text/css">
#pageLoader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: white;
    top: 0;
    left: 0;
  }
  @-webkit-keyframes fly {
    to {
      transform: rotate(180deg);
    }
  }
  @-webkit-keyframes shadow {
    from {
      text-shadow: 0 4px 0 rgba(0, 0, 0, .2);
    }
    to {
      text-shadow: 4px 0 0 rgba(0, 0, 0, .2);
    }
  }
  #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 220px;
    margin: -110px 0 0 -200px;
    /*background-image: linear-gradient(131deg, #4f2d87 0%, #7542c9 100%);*/
    border-radius: 8px;
    text-align: center;
    color: white;
    overflow: hidden;
    /*box-shadow: 0px 5px 54px rgba(142,142,142,0.22);*/
  }
  #loader:before {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: -180px;
    left: 20px;
    border-radius: 50%;
    border: 1.8px dashed #4f2d87;
  }
  #plane {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 44px;
    transform-origin: 200px 20px;
    -webkit-animation: fly 2s infinite linear;
  }
  #plane svg {
    margin: 4px 0 0 2px;
    transform: rotate(-85deg);
    -webkit-animation: shadow 2s infinite linear;
  }
  #plane svg path{
    fill: #4f2d87;
  }
  #loader p {
    margin-top: 110px;
    line-height: 32px;
    font-family: Montserrat;
    font-size: 22px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    color: #4f2d87;
    font-weight: 700;
  }
  #loader p span {
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  /*Ellipsis*/

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: -20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4f2d87;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

  #pageLoader.loaded{
    opacity: 0;
    z-index: -1;
    transition: all .3s linear;
  }
</style>
