<!-- <div class="footerTopQ1Page">
    <div class="footerTopQ1Page__elemL">
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_1.png" alt=""></a>
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_2.png" alt=""></a>
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_3.png" alt=""></a>
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_4.png" alt=""></a>
    </div>
    <div class="footerTopQ1Page__elemR">
        <a href="" class="footerTopQ1Page__link"><img src="/assets/images/jpg/img-q1_logo.jpg" alt=""></a>
    </div>
</div> -->


<div class="footerTopQ1Page">
    <div class="footerTopQ1Page__elemL">
        @@include('../partials/components/problems/pressIcons2.html')
    </div>
    <div class="footerTopQ1Page__elemR">
        <a href="" class="footerTopQ1Page__link"><img src="/assets/images/jpg/img-q1_logo.jpg" alt=""></a>
    </div>
</div>


<div class="footerBottom">
    <div class="fatolProtected"><span class="footerNavTitle">ATOL protected</span>
        <picture>
            <source srcset="/assets/images/webp/atol-logo.webp" type="image/webp">
            <source srcset="/assets/images/png/atol-logo.png" type="image/png"><img src="/assets/images/png/atol-logo.png" alt="ATOL protected"></picture>
        <picture>
            <source srcset="/assets/images/webp/tta-logo.webp" type="image/webp">
            <source srcset="/assets/images/png/tta-logo.png" type="image/png"><img src="/assets/images/png/tta-logo.png" alt="Overwhelmed with options?"></picture>
    </div>
    <div class="fdownloadApp"><span class="footerNavTitle">Download our app</span>
        <a class="iosAppButton" href="https://click.google-analytics.com/redirect?tid=UA-105860454-1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fgb%2Fapp%2Fpacked-group-trip-planner%2Fid1464657333&amp;aid=com.packed.packed&amp;idfa={idfa}&amp;cs=packed&amp;cm=website&amp;ck=homepage&amp;anid=admob&amp;hash=md5" target="_blank"></a>
        <a class="androidAppButton" href="https://play.google.com/store/apps/details?id=com.myswft.myswft&amp;referrer=utm_source%3Dpacked%26utm_medium%3Dwebsite%26utm_term%3Dhomepage%26anid%3Dadmob" target="_blank"></a>
    </div>
    <div class="fSocial"><span class="footerNavTitle">Follow us</span>
        <a href="https://www.facebook.com/all.packed" target="_blank" class="socialIcon facebookPage"></a>
        <a href="https://www.instagram.com/all.packed" target="_blank" class="socialIcon indstagramPage"></a>
    </div>
</div>