<!-- <div class="footerTopQ1Page">
    <div class="footerTopQ1Page__elemL">
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_1.png" alt=""></a>
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_2.png" alt=""></a>
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_3.png" alt=""></a>
        <a href="/info/press" class="footerTopQ1Page__link"><img src="/assets/images/png/img-q1_4.png" alt=""></a>
    </div>
    <div class="footerTopQ1Page__elemR">
        <a href="" class="footerTopQ1Page__link"><img src="/assets/images/jpg/img-q1_logo.jpg" alt=""></a>
    </div>
</div> -->


<div class="footerTopQ1Page">
    <div class="footerTopQ1Page__elemL">
        @@include('../partials/components/problems/pressIcons2.html')
    </div>
    <div class="footerTopQ1Page__elemR">
        <a href="" class="footerTopQ1Page__link"><img src="/assets/images/jpg/img-q1_logo.jpg" alt=""></a>
    </div>
</div>


<div class="footerBottom">
    <div class="fatolProtected"><span class="footerNavTitle">ATOL protected</span>
        <picture>
            <source srcset="/assets/images/webp/atol-logo.webp" type="image/webp">
            <source srcset="/assets/images/png/atol-logo.png" type="image/png"><img src="/assets/images/png/atol-logo.png" alt="ATOL protected"></picture>
        <picture>
            <source srcset="/assets/images/webp/tta-logo.webp" type="image/webp">
            <source srcset="/assets/images/png/tta-logo.png" type="image/png"><img src="/assets/images/png/tta-logo.png" alt="Overwhelmed with options?"></picture>
    </div>
    <div class="fdownloadApp"><span class="footerNavTitle">Download our app</span>
        <a class="iosAppButton" href="https://packed.app.link/app-store" target="_blank"></a>
        <a class="androidAppButton" href="https://packed.app.link/play-store" target="_blank"></a>
    </div>
    <div class="fSocial"><span class="footerNavTitle">Follow us</span>
        <a href="https://www.facebook.com/all.packed" target="_blank" class="socialIcon facebookPage"></a>
        <a href="https://www.instagram.com/all.packed" target="_blank" class="socialIcon indstagramPage"></a>
    </div>
</div>