<header class="siteHeader siteHeader2">
	<div class="sContainer headerContainer">
		<a href="/" class="logo">
			<img src="/assets/images/png/logo.png" alt="" />
		</a>

        <div class="header2mswBtns">
            <a class="mswButton header2MessBtn header2btn">
				<span class="purpleMessIcon"></span>
				Chat in Messenger
			</a>
            <a class="mswButton header2WhatsBtn header2btn">
				<span class="blueWhatsIcon"></span>
				Chat in WhatsApp
			</a>
			
			<span class="purpleMessIcon"></span>
			<span class="blueWhatsIcon"></span>
        </div>

	</div>
</header>