<div class="accommodationOpt">
  <p data-aos="fade-right" data-aos-once="true">
     <strong>@@textTop</strong>
  </p>
</div>

<section class="topRegionsResorts container_12">
	<div class="buttons-content tabs4" data-aos="zoom-in" data-aos-once="true">
		<ul class="buttons-wrap navTabsResorts">
			<li class="button-item active">
        <a class="button-wrap" href="#tabStag-1">
           @@mainTitle1
        </a>
      </li>
			<li class="button-item">
        <a class="button-wrap" href="#tabStag-2">
           @@mainTitle2
        </a>
      </li>
			<li class="button-item">
				<a class="button-wrap" href="#tabStag-3">
           @@mainTitle3
        </a>
	    </li>
			<li class="button-item">
				<a class="button-wrap" href="#tabStag-4">
           @@mainTitle4
        </a>
    	</li>
		</ul>
  </div>

	<div class="tab-content">
		<div class="regionsGridList tabPaneResorts active" id="tabStag-1">
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">

    		<picture class="regionsGridImg">
  			  <source srcset="/assets/images/webp/@@image1.webp" type="image/webp">
  			  <source srcset="/assets/images/@term1/@@image1.@term1" type="image/@term1">
  			  <img src="/assets/images/@term1/@@image1.@term1" alt="@@title1">
  			</picture>
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
            @@title1
          </h4>

					<div class="regionsGridDescriptionParagraph">
						<p>@@description1</p>
					</div>

				</div>
      </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">

        <picture class="regionsGridImg">
  			  <source srcset="/assets/images/webp/@@image2.webp" type="image/webp">
  			  <source srcset="/assets/images/@term2/@@image2.@term2" type="image/@term2">
  			  <img src="/assets/images/@term2/@@image2.@term2" alt="@@title2">
  			</picture>
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
              @@title2
          </h4>

					<div class="regionsGridDescriptionParagraph">
						<p>@@description2</p>
					</div>
        </div>
                
			</div>
    </div>
        

		<div class="regionsGridList tabPaneResorts" id="tabStag-2">
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">
                
        <picture class="regionsGridImg">
  			  <source srcset="/assets/images/webp/@@image3.webp" type="image/webp">
  			  <source srcset="/assets/images/@term3/@@image3.@term3" type="image/@term3">
  			  <img src="/assets/images/@term3/@@image3.@term3" alt="@@title3">
  			</picture>
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
              @@title3
          </h4>

					<div class="regionsGridDescriptionParagraph">
						<p>@@description3</p>
					</div>
        </div>
                
      </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">

        <picture class="regionsGridImg">
  			  <source srcset="/assets/images/webp/@@image4.webp" type="image/webp">
  			  <source srcset="/assets/images/@term4/@@image4.@term4" type="image/@term4">
  			  <img src="/assets/images/@term4/@@image4.@term4" alt="@@title4">
  			</picture>
                
				<div class="regionsGridDescription">
					<h4 class="regionsGridTitle">
              @@title4
          </h4>

					<div class="regionsGridDescriptionParagraph">
						<p>@@description4</p>
					</div>
        </div>

			</div>

    </div>
        

		<div class="regionsGridList tabPaneResorts" id="tabStag-3">
			
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">
                
        <picture class="regionsGridImg">
  			  <source srcset="/assets/images/webp/@@image5.webp" type="image/webp">
  			  <source srcset="/assets/images/@term4/@@image5.@term5" type="image/@term5">
  			  <img src="/assets/images/@term5/@@image5.@term5" alt="@@title5">
  			</picture>
                
				<div class="regionsGridDescription">
					<h4 class="regionsGridTitle">
              @@title5
          </h4>

					<div class="regionsGridDescriptionParagraph">
						<p>@@description5</p>
					</div>
        </div>

      </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">
                
      	<picture class="regionsGridImg">
   			  <source srcset="/assets/images/webp/@@image6.webp" type="image/webp">
   			  <source srcset="/assets/images/@term4/@@image6.@term6" type="image/@term6">
   			  <img src="/assets/images/@term6/@@image6.@term6" alt="@@title6">
   			</picture>
                 
 				<div class="regionsGridDescription">
 					<h4 class="regionsGridTitle">
               @@title6
           </h4>

 					<div class="regionsGridDescriptionParagraph">
 						<p>@@description6</p>
 					</div>
        </div>

			</div>

    </div>
        
		<div class="regionsGridList tabPaneResorts" id="tabStag-4">
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">
                
        <picture class="regionsGridImg">
   			  <source srcset="/assets/images/webp/@@image7.webp" type="image/webp">
   			  <source srcset="/assets/images/@term4/@@image7.@term7" type="image/@term7">
   			  <img src="/assets/images/@term7/@@image7.@term7" alt="@@title7">
   			</picture>
                 
 				<div class="regionsGridDescription">
 					<h4 class="regionsGridTitle">
               @@title7
           </h4>

 					<div class="regionsGridDescriptionParagraph">
 						<p>@@description7</p>
 					</div>
        </div>

      </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">
                
        <picture class="regionsGridImg">
   			  <source srcset="/assets/images/webp/@@image8.webp" type="image/webp">
   			  <source srcset="/assets/images/@term4/@@image8.@term8" type="image/@term8">
   			  <img src="/assets/images/@term8/@@image8.@term8" alt="@@title8">
   			</picture>
                 
 				<div class="regionsGridDescription">
 					<h4 class="regionsGridTitle">
               @@title8
           </h4>

 					<div class="regionsGridDescriptionParagraph">
 						<p>@@description8</p>
 					</div>
        </div>
                
			</div>
		</div>
    </div>
    

	<div class="accommOpt" data-aos="fade-right" data-aos-once="true">
    @@textBottom
	</div>
	
</section>

