<div class="accommodationOpt">

	<p data-aos="fade-right" data-aos-once="true">
		<strong>@@textTop</strong>
	</p>
</div>


<section class="topRegionsResorts container_12">
	<div class="buttons-content tabs3" data-aos="zoom-in" data-aos-once="true">
		<ul class="buttons-wrap navTabsResorts">
			<li class="button-item active">
                <a class="button-wrap" href="#tabStag-1">
                     @@mainTitle1
                </a>
            </li>
			<li class="button-item">
				<a class="button-wrap" href="#tabStag-2">
                    @@mainTitle2
                </a>
            </li>
			<li class="button-item">
				<a class="button-wrap" href="#tabStag-3">
                     @@mainTitle3
                </a>
            </li>
		</ul>
    </div>
    
	<div class="tab-content">
		<div class="regionsGridList tabPaneResorts active" id="tabStag-1">
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">

                <picture class="regionsGridImg">
    			    @@image1
    			</picture> 
                
				<div class="regionsGridDescription">
					<h4 class="regionsGridTitle">
                        @@title1
                    </h4>
					<div class="regionsGridDescriptionParagraph">
						@@description1
					</div>
				</div>
            </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">

                <picture class="regionsGridImg">
    			    @@image2
    			</picture> 
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
                        @@title2
                    </h4>

					<div class="regionsGridDescriptionParagraph">
						@@description2
					</div>
                </div>
                
			</div>
        </div>
        
		<div class="regionsGridList tabPaneResorts" id="tabStag-2">
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">

                <picture class="regionsGridImg">
    			    @@image3
    			</picture> 
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
                        @@title3
                    </h4>

					<div class="regionsGridDescriptionParagraph">
						@@description3
                    </div>
                    
				</div>
            </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">

                <picture class="regionsGridImg">
    			    @@image4
    			</picture> 
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
                        @@title4
                    </h4>

					<div class="regionsGridDescriptionParagraph">
						@@description4
                    </div>
                    
				</div>
            </div>
        </div>
        

		<div class="regionsGridList tabPaneResorts" id="tabStag-3">
			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-left" data-aos-once="true">

                <picture class="regionsGridImg">
    			    @@image5
    			</picture>  
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
                        @@title5
                    </h4>

					<div class="regionsGridDescriptionParagraph">
						@@description5
					</div>
				</div>
            </div>
            

			<div class="regionsGridItemWrap gridTop" data-aos="zoom-in-right" data-aos-once="true">

                <picture class="regionsGridImg">
    			    @@image6
    			</picture> 
                
				<div class="regionsGridDescription">

					<h4 class="regionsGridTitle">
                        @@title6
                    </h4>

					<div class="regionsGridDescriptionParagraph">
						@@description6
                    </div>
                    
				</div>
			</div>
		</div>
    </div>
    

	<div class="accommOpt container_12">
        @@textBottom
	</div>
</section>
