<section class="activitiestopRegionsResorts noMargin container_12">

	<div class="activitiesbuttons-content tabs4" data-aos="zoom-in" data-aos-once="true">
		<ul class="activitiesbuttons-wrap navTabsResorts2">
			<li class="activitiesbutton-item active">
                <a class="activitiesbutton-wrap" href="#activitiestabStag-1">@@mainTitle1</a>
            </li>
			<li class="activitiesbutton-item">
                <a class="activitiesbutton-wrap" href="#activitiestabStag-2">@@mainTitle2</a>
            </li>
			<li class="activitiesbutton-item">
                <a class="activitiesbutton-wrap" href="#activitiestabStag-3">@@mainTitle3</a>
            </li>
			<li class="activitiesbutton-item">
                <a class="activitiesbutton-wrap" href="#activitiestabStag-4">@@mainTitle4</a>
            </li>
		</ul>
    </div>
    

	<div class="tab-content">
		
		<div class="activitiesregionsGridList activitiestabPaneResorts active" id="activitiestabStag-1">
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">

                <picture class="activitiesregionsGridImg">
    			    @@image1
    			</picture>
                
                 
				<div class="activitiesregionsGridDescription">

					<h4 class="activitiesregionsGridTitle">
                        @@title1
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description1
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">

				<picture class="activitiesregionsGridImg">
    			    @@image2
                </picture>
                
				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title2
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description2
					</div>
				</div>
			</div>
		
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-right" data-aos-once="true">

                <picture class="activitiesregionsGridImg">
    			    @@image3
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title3
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description3
					</div>
				</div>
			</div>
		
			<div class="activitiesresortsGridItemWrap resort2" data-aos="zoom-in-left" data-aos-once="true">

                <picture class="activitiesregionsGridImg">
    			    @@image4
                </picture>

				<div class="activitiesregionsGridDescription">

					<h4 class="activitiesregionsGridTitle">
                        @@title4
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description4
					</div>
				</div>
			</div>
		</div>
		
		<div class="activitiesregionsGridList activitiestabPaneResorts columns3" id="activitiestabStag-2">
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">

                <picture class="activitiesregionsGridImg">
    			    @@image5
                </picture>
                
				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title5
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description5
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">

				<picture class="activitiesregionsGridImg">
    			    @@image6
                </picture>

				<div class="activitiesregionsGridDescription">

					<h4 class="activitiesregionsGridTitle">
                        @@title6
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description6
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-right" data-aos-once="true">
                <picture class="activitiesregionsGridImg">
    			    @@image7
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title7
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description7
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort2" data-aos="zoom-in-left" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image8
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title8
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description8
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort2" data-aos="zoom-in-left" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image9
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title9
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description9
					</div>
				</div>
			</div>
		</div>
		
		<div class="activitiesregionsGridList activitiestabPaneResorts" id="activitiestabStag-3">
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">
                <picture class="activitiesregionsGridImg">
    			    @@image10
                </picture>
                
				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title10
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description10
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image11
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title11
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description11
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-right" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image12
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title12
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description12
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort2" data-aos="zoom-in-left" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image13
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title13
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description13
					</div>
				</div>
			</div>
		</div>
		
		<div class="activitiesregionsGridList activitiestabPaneResorts columns3" id="activitiestabStag-4">
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image14
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title14
                    </h4>
                    
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description14
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image15
                </picture>

				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title15
                    </h4>
					<div class="activitiesregionsGridDescriptionParagraph">
						@@description15
					</div>
				</div>
			</div>
			
			<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-right" data-aos-once="true">
				<picture class="activitiesregionsGridImg">
    			    @@image16
                </picture>
                
				<div class="activitiesregionsGridDescription">
					<h4 class="activitiesregionsGridTitle">
                        @@title16
                    </h4>

					<div class="activitiesregionsGridDescriptionParagraph">
						@@description16
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
