<section class="featuresSection">
    <h3 class="sectionTitle">Still getting your team together? Try our app</h3>
    <div class="features">
        <!-- <img class="dotsPurple bgDotsPurple"/> -->
        <div class="dotsPurple bgDotsPurple"></div>
        <div class="featuresContainer sContainer">
            <div class="featureItem">
                <p class="featureTitle">
                    1. Create a trip
                </p>
                <p class="featureContent">
                    Give it a name and add a few dates, destinations and budgets</p>
                <p class="featureTitle">
                    2. Invite your pals
                </p>
                <p class="featureContent">
                    Whoever they are, get them involved and voting on what matters</p>
                <p class="featureTitle">
                    3. Put together your plan
                </p>
                <p class="featureContent">
                    See everyone&rsquo;s preferences clearly and in one place
                </p>
                <p class="featureTitle">
                    4. Be ready to book
                </p>
                <p class="featureContent">
                    Gather full names, fad diets and dates of birth all at the tap of a button</p>
                <p class="featureContent">
                    &nbsp;
                </p>
                <a class="iosAppButton" href="https://click.google-analytics.com/redirect?tid=UA-105860454-1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fgb%2Fapp%2Fmyswft-group-trip-planner%2Fid1464657333&amp;aid=com.myswft.myswft&amp;idfa={idfa}&amp;cs=myswft&amp;cm=website&amp;ck=homepage&amp;anid=admob&amp;hash=md5" target="_blank"></a> 

                <a class="androidAppButton" href="https://play.google.com/store/apps/details?id=com.myswft.myswft&amp;referrer=utm_source%3Dmyswft%26utm_medium%3Dwebsite%26utm_term%3Dhomepage%26anid%3Dadmob" target="_blank"></a>
            </div>
            <div class="featureImages">
                <picture class="abs z-2">
                    <source srcset="/assets/images/webp/photo2.webp" type="image/webp">
                    <source srcset="/assets/images/png/photo2.png" type="image/png">
                    <img src="/assets/images/png/photo2.png" alt="" />
                </picture>

                <picture class="abs z-1">
                    <source srcset="/assets/images/webp/phone1.webp" type="image/webp">
                    <source srcset="/assets/images/png/phone1.png" type="image/png">
                    <img src="/assets/images/png/phone1.png" alt="" />
                </picture>

                <picture class="abs z1">
                    <source srcset="/assets/images/webp/photo1.webp" type="image/webp">
                    <source srcset="/assets/images/png/photo1.png" type="image/png">
                    <img src="/assets/images/png/photo1.png" alt="" />
                </picture>
            </div>
        </div>
    </div>
</section>