<div class="startConversationWrap">
	<div class="handWithMobile">
		<img alt="" src="/assets/images/png/holiday-planning.png" /></div>
	<div class="sCWtext">
		<h3 class="sCWTitle">
            @@title
        </h3>
		<h6 class="sCWSubtitle">
            @@subtitle
        </h6>
		<div class="biBbutton messengerBtn">
			<a href="https://m.me/myswft?ref=Welcome" target="_blank"><img src="/assets/images/png/messenger-cta.png" /> </a></div>
		<div class="biBbutton whatsUpBtn">
			<a href="https://api.whatsapp.com/send?phone=442039000223" target="_blank"><img src="/assets/images/png/whatsapp-cta.png" /> </a></div>
	</div>
</div>
