<section class="advantagesWrap sContainer">
	<div class="advantageItem" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
		<div class="advImage">
			<picture>
			    <source srcset="/assets/images/webp/chat-to-an-expert.webp" type="image/webp">
			    <source srcset="/assets/images/png/chat-to-an-expert.png" type="image/png">
			    <img src="/assets/images/png/chat-to-an-expert.png" alt="Overwhelmed with options?" />
			</picture>
		</div>
		<h4 class="advText">Chat to your stag expert</h4>
	</div>
	<div class="advantageItem" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
		<div class="advImage">
			<picture>
			    <source srcset="/assets/images/webp/save-time.webp" type="image/webp">
			    <source srcset="/assets/images/png/save-time.png" type="image/png">
			    <img src="/assets/images/png/save-time.png" alt="Save time" />
			</picture>
		</div>
		<h4 class="advText">Save serious time</h4>
	</div>
	<div class="advantageItem" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
		<div class="advImage">
			<picture>
			    <source srcset="/assets/images/webp/pay-separately.webp" type="image/webp">
			    <source srcset="/assets/images/png/pay-separately.png" type="image/png">
			    <img src="/assets/images/png/pay-separately.png" alt="Pay separately" />
			</picture>
		</div>
		<h4 class="advText">Easy separately payments</h4>
	</div>
	<div class="advantageItem" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
		<div class="advImage">
			<picture>
			    <source srcset="/assets/images/webp/best-price.webp" type="image/webp">
			    <source srcset="/assets/images/png/best-price.png" type="image/png">
			    <img src="/assets/images/png/best-price.png" alt="Best price guarantee" />
			</picture>
		</div>
		<h4 class="advText">Best-price guarantee</h4>
	</div>
	<div class="advantageItem" data-aos="fade-up" data-aos-delay="600" data-aos-once="true">
		<div class="advImage">
			<picture>
			    <source srcset="/assets/images/webp/man-juggling.webp" type="image/webp">
			    <source srcset="/assets/images/png/man-juggling.png" type="image/png">
			    <img src="/assets/images/png/man-juggling.png" alt="Free in-destination concierge" />
			</picture>
		</div>
		<h4 class="advText">Everything done for you</h4>
	</div>
	<div class="advantageItem" data-aos="fade-up" data-aos-delay="700" data-aos-once="true">
		<div class="advImage">
			<picture>
			    <source srcset="/assets/images/webp/atol-protected.webp" type="image/webp">
			    <source srcset="/assets/images/png/atol-protected.png" type="image/png">
			    <img src="/assets/images/png/atol-protected.png" alt="ATOL protected" />
			</picture>
		</div>
		<h4 class="advText">ATOL protected</h4>
	</div>
</section>