<section class="convinced">
    <div class="sContainer convincedContent container_12">

        <div class="bigPhoneImages" data-aos="fade-up" data-aos-once="true">
            
            <div class="bgDotsPurple"></div>

            <picture class="bigPhone">
              <source srcset="/assets/images/webp/@@bigImage.webp" type="image/webp">
              <source srcset="/assets/images/@@term/@@bigImage.@@term" type="image/@@term">
              <img data-aos="fade-up" data-aos-once="true" src="/assets/images/@@term/@@bigImage.@@term" alt="@@title">
            </picture>

        </div>


        <div class="contact">

            <h3 class="sectionTitle leftTitle" data-aos="fade-left" data-aos-once="true">
                @@title
            </h3>

            <div class="subtitle" data-aos="fade-left" data-aos-once="true">
                @@subtitle
            </div>
            
            @@include('../partials/components/social-buttons2.html')

        </div>
    </div>
</section>