<section class="checkout container_12">

	<h3 class="sectionTitle" data-aos="fade-down" data-aos-once="true">
		@@mainTitle
	</h3>


	<div class="checkoutBox">

		<div class="checkoutElement" data-aos="flip-right" data-aos-once="true">

			@@background1
			
			
			<div class="checkoutImgText">

				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-activities/">@@hashtag1</a>
				</div>

				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-destinations/">@@hashtag2</a>
				</div>

				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-weekends/">@@hashtag3</a>
				</div>

			</div>
			<div class="checkoutDescr">
				<h4 class="checkoutImgTitle">
					<a href="https://blog.packed.com/how-to-plan-a-stress-free-stag-weekend/">
						@@title
					</a>
				</h4>
				<div class="checkoutLinkTime">
					<p class="checkoutBy">
						<span class="checkoutByStyle">by</span> <a href="https://blog.packed.com/author/packed/">@@checkoutBy1</a>
					</p>
					<p class="checkoutTime">
						@@checkoutTime1
					</p>
				</div>
			</div>
		</div>


		<div class="checkoutElement" data-aos="flip-right" data-aos-once="true">

			@@background2

			<div class="checkoutImgText">
				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-weekends/">@@hashtag4</a>
				</div>
				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-activities/">@@hashtag5</a>
				</div>
			</div>

			<div class="checkoutDescr">
				<h4 class="checkoutImgTitle">
					<a href="https://blog.packed.com/stag-do-activities-europe/">@@title2</a>
				</h4>

				<div class="checkoutLinkTime">
					<p class="checkoutBy">
						<span class="checkoutByStyle">by</span> <a href="https://blog.packed.com/author/packed/">@@checkoutBy2</a>
					</p>
					<p class="checkoutTime">
						@@checkoutTime2
					</p>
				</div>
			</div>
		</div>


		<div class="checkoutElement" data-aos="flip-right" data-aos-once="true">

			@@background3

			<div class="checkoutImgText">
				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-weekends/">@@hashtag6</a>
				</div>

				<div class="checkoutImgTextItem">
					<a href="https://blog.packed.com/tag/stag-destinations/">@@hashtag7</a>
				</div>
			</div>


			<div class="checkoutDescr">
				<h4 class="checkoutImgTitle">
					<a href="https://blog.packed.com/8-of-the-most-under-rated-stag-do-destinations/">
						@@title3
					</a>
				</h4>

				<div class="checkoutLinkTime">
					<p class="checkoutBy">
						<span class="checkoutByStyle">by</span> <a href="https://blog.packed.com/author/packed/">@@checkoutBy3</a>
					</p>
					<p class="checkoutTime">
						@@checkoutTime3
					</p>
				</div>
			</div>
		</div>

	</div>
</section>