<div class="ctaModule">
	<h6 class="ctaModuleTitle">
        <a href="https://m.me/myswft?ref=Welcome" style="font-size: 12px;" target="_blank">
            <img alt="" src="/assets/images/png/cta_click_for_messenger.png" style="width: 200px; height: 70px;" /> 
        </a>
        <span style="color: rgb(34, 34, 34); font-size: 12px;"></span>
        
        <a href="https://api.whatsapp.com/send?phone=442039000223" style="font-size: 12px;" target="_blank">
            <img alt="" src="/assets/images/png/cta_click_for_whatsapp.png" style="width: 200px; height: 71px;" /> 
        </a>
    </h6>
</div>
