<section class="ourStory container_12">
                
    <h3 class="sectionTitle" data-aos="fade-down" data-aos-once="true">
        @@title
    </h3>


    <div class="ourStoryBox">

        <div class="ourStoryFloat">

            <picture class="ourStoryImg" data-aos="fade-right" data-aos-once="true">
                @@image
            </picture>
            
            <div class="ourStoryDescr" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-once="true">
                @@text1
            </div>

            <div class="ourStoryDescr" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-once="true">
                @@text2
            </div>

            <div class="ourStoryDescr" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-once="true">
                @@text3
            </div>

            <div class="ourStoryDescr" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-once="true">
                @@text4
            </div>

        </div>


        

    </div>

</section>