<ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
    <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
    </li>
    <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">       
    </li>
</ul>
<div class="feefoCarousel my-slider">
    <div class="my-slider-item" id="feefoCarousel__item1">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem"> <!-- copy and duplicate this block to add new reviews -->
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 100%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				"Excellent service and effortless for me"
			</h6>

			<div class="carouselItemText">
				<p>The whole thing was very smooth and effortless and it was really handy to have Packed on whatsapp meaning you could as a question anytime and it was fairly informal too! I will definitely be recommending Packed to others!</p>
			</div>

			<div class="carouselItemAuthor">
				Simon Prince
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item2">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem"> <!-- copy and duplicate this block to add new reviews -->
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 100%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				"So helpful! Got back to me in a day with several options"
			</h6>

			<div class="carouselItemText">
				<p>They were so helpful and quick to respond. Provided me with a variety of options that were so nice and everything sorted.</p>
			</div>

			<div class="carouselItemAuthor">
				Trusted Customer
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item3">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 100%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				"Excellent"
			</h6>

			<div class="carouselItemText">
				<p>Excellent service, very responsive and knowledgeable. Second time using these guys and all has gone well both times. Definitely recommend, see you again next year!</p>
			</div>

			<div class="carouselItemAuthor">
				Oliver Salisbury 
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item4">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 100%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				 "TOP customer service!!!"
			</h6>

			<div class="carouselItemText">
				<p>I approached Packed with a work project, searching for a Ski trip for 50 people. Right from the beginning the customer service was super, within a couple of days I had 2 trips that fitted the criteria perfectly. Due to the nature of my job I was unable to progress quickly and was back & forth with questions and requests, but nevertheless Ed Mellor continued to be professional, extremely helpful and patient. There was never a delay is receiving responses to my many emails.</p>
			</div>

			<div class="carouselItemAuthor">
				Trusted Customer
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item5">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				"Responsive and helpful, thank you!"
			</h6>

			<div class="carouselItemText">
				<p>
					Excellent response times, nice query too small and just made my life so much easier. Thank you!
				</p>
			</div>

			<div class="carouselItemAuthor">
				Bhargav Trivedi
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item6">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				
			</h6>

			<div class="carouselItemText">
				<p>Great team, great service. Will definitely use again.</p>
			</div>

			<div class="carouselItemAuthor">
				Lewis Jones
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item7">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				 "Simple, fast and super helpful"
			</h6>

			<div class="carouselItemText">
				<p>I saw an advert on Instagram and thought it’d be worth a shout as I was having a hard time booking a ski trip for myself and 6 mates. From start to finish it was easy messaging through WhatsApp and they found brilliant deals for us. Would happily recommend to anyone thinking of using them. Ed was fantastic and super fast to reply and keep my up to date</p>
			</div>

			<div class="carouselItemAuthor">
				Trusted Customer
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item8">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				 "Excellent service - 1st class"
			</h6>

			<div class="carouselItemText">
				<p>Would absolutely recommend. It made booking a group holiday so much easier and completely removes the hassle. will definitely be using again.</p>
			</div>

			<div class="carouselItemAuthor">
				Trusted Customer
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item9">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				 
			</h6>

			<div class="carouselItemText">
				<p>I've booked with My Swft for the last 3 years, 4 holidays in total. This year was even better. The new online booking is really simple to be able to share with the group and get people to choose a location. Then everyone managing their own booking makes it even easier for the group leader!</p>
			</div>

			<div class="carouselItemAuthor">
				Adam Burrage
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item10">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				 "Fantastic Service"
			</h6>

			<div class="carouselItemText">
				<p>Fantastic service for all aspects of the holiday.  Made our leaves easy.</p>
			</div>

			<div class="carouselItemAuthor">
				Melissa Harris
			</div>
		</a>
    </div>


    <div class="my-slider-item" id="feefoCarousel__item11">
        <a target="_blank" href="https://www.feefo.com/en-GB/reviews/packed?displayFeedbackType=SERVICE&timeFrame=YEAR" class="carouselItem">
			<div class="carouselItemRating">
				<div class="ratingStars">
				  <div class="ratingValue" style="width: 98%;"></div>
				</div>
			</div>

			<h6 class="carouselItemTitle">
				 "Excellent service and highly recommend!"
			</h6>

			<div class="carouselItemText">
				<p>Very good service from the team at MySwft. Very responsive to messages and would highly recommend using them...I certainly will be again!</p>
			</div>

			<div class="carouselItemAuthor">
				Joseph Leeming
			</div>
		</a>
    </div>
</div>

