    <div class="twoSections-Content sContainer">
      <h3 class="sectionTitle">How it works</h3>

      <section class="twoSections-howItWorks">
          <div class="twoSections-howItWorks__elem left">
              <div class="twoSections-howItWorks__elem__lL">
                  <img src="/assets/images/png/packed-app.png" alt="">
              </div>
              <div class="twoSections-howItWorks__elem__lR">
                  <h3>Still deciding where and when for your group trip?</h3>
                  <p>Vote on dates, destination and anything else that matters</p>

                  <a class="mswButton checkOutOurApp" href="/app/" target="_blank">
                      Check out our app
                  </a>
              </div>
          </div>
          <div class="twoSections-howItWorks__elem right">
              <div class="twoSections-howItWorks__elem__rL">
                  <img src="/assets/images/png/packed-messenger.png" alt="">
              </div>
              <div class="twoSections-howItWorks__elem__rR">
                  <h3>Know what you're looking for?</h3>
                  <p>Drop us a message and receive personalised recommendations</p>

                  <div class="buttonsContainer">
                      <a class="mswButton purpleBg" href="https://m.me/all.packed?ref=Welcome" target="_blank">
                          <span class="buttonIcon   whiteMessengerIcon"></span> 
                          Start in Messenger 
                      </a>
                      <a class="mswButton cyanBg" href="https://api.whatsapp.com/send?phone=442039000223" target="_blank">
                          <span class="buttonIcon   whiteWhatsappIcon"></span> 
                          Start in WhatsApp
                      </a>
                  </div>
              </div>
          </div>
          
          <div class="twoSectionsDots bgDotsPurple"></div>
          <div class="twoSectionsDots bgDotsBlue"></div>
          <img class="app-lines twoSectionsLines" src="/assets/images/png/app-lines.png">
      </section>
    </div>