<section class="notConvinced container_12">

	<h3 class="sectionTitle" data-aos="fade-down" data-aos-once="true">
        @@title
    </h3>


	<div class="notConvincedBox">

		<div class="notConvincedBoxLeft" data-aos="zoom-out" data-aos-once="true">
			<h4 class="notConvincedBoxName">
				@@name
            </h4>

            <picture class="notConvincedBoxLeftPhoto">
                @@picture
            </picture>
            
        </div>

		<div class="notConvincedBoxRight">
			<div class="notConvincedBoxDescr">
				<div class="notConvincedBoxDescrContent">

                    @@message
                    
				</div>
            </div>
            
			<div class="notConvincedBoxGF">

                <picture class="gf">@@google</picture> 
                <picture class="gf">@@facebook</picture> 

            </div>
        </div>
        
        <!--de adaugat bgDots-->
	</div>
</section>
