<section class="stagGroupHoliday groupHoliday sContainer">

    <h3 class="sectionTitle"> @@mainTitle </h3>

    <div class="holidayContent">
        <div class="holidayItemx3">

            @@imgLink1

            <div class="holidayLinkContent">
                <h4 class="linkContentTitle">@@title1</h4>

                <div class="linkContentText">
                    @@description1
                </div>
                
                <a class="readMore" href="./group-holidays/ski-holidays.html">Read more</a>
            </div>

        </div>


        <div class="holidayItemx3">

            @@imgLink2

            <div class="holidayLinkContent">

                <h4 class="linkContentTitle">@@title2</h4>

                <div class="linkContentText">
                    @@description2
                </div>

                <a class="readMore" href="./group-holidays/friends-holidays.html">Read more</a>
            </div>
        </div>


        <div class="holidayItemx3">

            @@imgLink3

            <div class="holidayLinkContent">

                <h4 class="linkContentTitle">@@title3</h4>
                <div class="linkContentText">
                    @@description3
                </div>
                
                <a class="readMore" href="./group-holidays/stag-weekends.html">Read more</a>
            </div>
        </div>

    </div>
</section>