<section class="benefits benefitsMain">
	<h3 class="sectionTitle" data-aos="fade-right" data-aos-once="true">
        @@mainTitle
    </h3>


	<div class="benefitsItems sContainer">
		<div class="benefit4Col">
			<h4 class="benefitTitle">
                @@subTitle1
            </h4>
			<div class="benefitContent">
                @@text1
            </div>
        </div>
        

		<div class="benefit4Col">
			<h4 class="benefitTitle">
                @@subTitle2
            </h4>
			<div class="textContent">
                @@text2
            </div>
		</div>
        

		<div class="benefit4Col">
			<h4 class="benefitTitle">
                @@subTitle3
            </h4>
			<div class="textContent">
                @@text3
            </div>
		</div>
        

		<div class="benefit4Col">
			<h4 class="benefitTitle">
                @@subTitle4
            </h4>
			<div class="textContent">
                @@text4
            </div>
		</div>
	</div>
</section>
