<div class="textContent someClass2">
    <h4>@@title</h4>
    <p>@@text</p>
    <h5>@@name1</h5>
    <div class="stars">
        <img src="/assets/images/png/my-swft-reviews.png" alt="stars">
    </div>

    <p>@@text2</p>
    <h5>@@name2</h5>
    <div class="stars">
        <img src="/assets/images/png/my-swft-reviews.png" alt="stars">
    </div>

    <div class="googleFacebook">
        <a href="https://www.google.com/shopping/customerreviews/merchantreviews?q=myswft.com">
            <img src="/assets/images/png/homepage_reviewbadge_google.png" alt="google">
        </a>
        <a href="https://www.facebook.com/pg/myswft/reviews">
            <img src="/assets/images/png/homepage_reviewbadge_facebook.png" alt="">
        </a>
    </div>
</div>