<section class="notCompletelyConvinced container_12">

    <h3 class="sectionTitle" data-aos="fade-right" data-aos-once="true">
        @@title
    </h3>

    <div class="notCompletelyConvincedDescrBox">


        <div class="notCompletelyConvincedDescElementx3" data-aos="fade-right" data-aos-once="true">

            <div class="notCompletelyConvincedDescItem">
                @@text1
            </div>

            
            <div class="notCompletelyConvincedInfo">

                <h4>
                    @@name1
                </h4>

                <svg enable-background="new 0 0 106 18" height="18px" version="1.1" viewbox="0 0 106 18" width="106px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"> 
                    <image height="18" width="106" x="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGoAAAASCAMAAACEjrsJAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAflBMVEUAAABPLYdPLYdPLYdP
                    LYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdP
                    LYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYf///+a
                    /6ybAAAAKHRSTlMACpLwY8oxBU5nfZWq3HwX6SMVzRYNuw4fUorE/I33zDIt9HADLgEQO2XlDgAA
                    AAFiS0dEKcq3hSQAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfjCBwSOTBBRKpiAAAAsklE
                    QVQ4y7XSSRKCMBRF0dAGhAiIIj0ICH//K1RKU4nCkPcnqTrcQRoY+45hsJ2BqGnuhQg1LGtnUxC1
                    iextCFGHyNmGCHXpPe5/d7Byzz8FoVhJhMHZ9zhMo5h+Jo7WEKOJ0EUkn8Ni9JIqSa/yljF6y6Rk
                    d/WiGM0l5frfA9FCUqGHEC0llXoI0YqobpqaqNJDhPKWup6xvqOWqw6ij2Gc1nUah6cKITov8uMy
                    q/BwfQGBYV8LIwaXpgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOC0yOFQxODo1Nzo0OCswMzow
                    MIsLZVEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDgtMjhUMTg6NTc6NDgrMDM6MDD6Vt3tAAAA
                    AElFTkSuQmCC" y="0">
                    </image> 
                </svg>
            </div>
        </div>

    

        <div class="notCompletelyConvincedDescElementx3" data-aos="fade-bottom" data-aos-once="true">

            <div class="notCompletelyConvincedDescItem">
                @@text2
            </div>

            <div class="notCompletelyConvincedInfo">
                <h4>
                    @@name2
                </h4>

                <svg enable-background="new 0 0 106 18" height="18px" id="Layer_1" version="1.1" viewbox="0 0 106 18" width="106px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><image height="18" id="image0" width="106" x="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGoAAAASCAMAAACEjrsJAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAflBMVEUAAABPLYdPLYdPLYdP
                LYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdP
                LYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYf///+a
                /6ybAAAAKHRSTlMACpLwY8oxBU5nfZWq3HwX6SMVzRYNuw4fUorE/I33zDIt9HADLgEQO2XlDgAA
                AAFiS0dEKcq3hSQAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfjCBwSOTBBRKpiAAAAsklE
                QVQ4y7XSSRKCMBRF0dAGhAiIIj0ICH//K1RKU4nCkPcnqTrcQRoY+45hsJ2BqGnuhQg1LGtnUxC1
                iextCFGHyNmGCHXpPe5/d7Byzz8FoVhJhMHZ9zhMo5h+Jo7WEKOJ0EUkn8Ni9JIqSa/yljF6y6Rk
                d/WiGM0l5frfA9FCUqGHEC0llXoI0YqobpqaqNJDhPKWup6xvqOWqw6ij2Gc1nUah6cKITov8uMy
                q/BwfQGBYV8LIwaXpgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOC0yOFQxODo1Nzo0OCswMzow
                MIsLZVEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDgtMjhUMTg6NTc6NDgrMDM6MDD6Vt3tAAAA
                AElFTkSuQmCC" y="0"></image> </svg>
            </div>

        </div>


        <div class="notCompletelyConvincedDescElementx3" data-aos="fade-bottom" data-aos-once="true">

            <div class="notCompletelyConvincedDescItem">
                @@text3
            </div>

            <div class="notCompletelyConvincedInfo">
                <h4>
                    @@name3
                </h4>

                <svg enable-background="new 0 0 106 18" height="18px" version="1.1" viewbox="0 0 106 18" width="106px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><image height="18" width="106" x="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGoAAAASCAMAAACEjrsJAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAflBMVEUAAABPLYdPLYdPLYdP
                LYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdP
                LYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYdPLYf///+a
                /6ybAAAAKHRSTlMACpLwY8oxBU5nfZWq3HwX6SMVzRYNuw4fUorE/I33zDIt9HADLgEQO2XlDgAA
                AAFiS0dEKcq3hSQAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfjCBwSOTBBRKpiAAAAsklE
                QVQ4y7XSSRKCMBRF0dAGhAiIIj0ICH//K1RKU4nCkPcnqTrcQRoY+45hsJ2BqGnuhQg1LGtnUxC1
                iextCFGHyNmGCHXpPe5/d7Byzz8FoVhJhMHZ9zhMo5h+Jo7WEKOJ0EUkn8Ni9JIqSa/yljF6y6Rk
                d/WiGM0l5frfA9FCUqGHEC0llXoI0YqobpqaqNJDhPKWup6xvqOWqw6ij2Gc1nUah6cKITov8uMy
                q/BwfQGBYV8LIwaXpgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOC0yOFQxODo1Nzo0OCswMzow
                MIsLZVEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDgtMjhUMTg6NTc6NDgrMDM6MDD6Vt3tAAAA
                AElFTkSuQmCC" y="0"></image> </svg>
            </div>

        </div>
    </div>

    <div class="notCompletelyConvincedGF">

        <picture>
            <source srcset="/assets/images/webp/homepage_reviewbadge_google.webp" type="image/webp">
            <source srcset="/assets/images/png/homepage_reviewbadge_google.png" type="image/png">
            <img src="/assets/images/png/homepage_reviewbadge_google.png" alt="" />
        </picture>

        <picture>
            <source srcset="/assets/images/webp/homepage_reviewbadge_facebook.webp" type="image/webp">
            <source srcset="/assets/images/png/homepage_reviewbadge_facebook.png" type="image/png">
            <img src="/assets/images/png/homepage_reviewbadge_facebook.png" alt="" />
        </picture>
        
    </div>
</section>