<section class="partners sContainer">
    <p class="sectionTitle">
        Our ears are burning...</p>
    <div class="sContainer press">
        <a href="/info/press/" target="_blank">
            <picture>
                <source srcset="/assets/images/webp/conde-nast-traveller.webp" type="image/webp">
                <source srcset="/assets/images/png/Conde-Nast-Traveller.png" type="image/png">
                <img src="/assets/images/png/Conde-Nast-Traveller.png" alt="the Conde Naste Traveller logo" />
            </picture>
        </a>
        <a href="/info/press/" target="_blank">
            <picture>
                <source srcset="/assets/images/webp/evening.webp" type="image/webp">
                <source srcset="/assets/images/png/evening.png" type="image/png">
                <img src="/assets/images/png/evening.png" alt="The Evening Standard newspaper logo" />
            </picture>
        </a> 
        <a href="/info/press/" target="_blank">
            <picture>
                <source srcset="/assets/images/webp/metro.webp" type="image/webp">
                <source srcset="/assets/images/png/metro.png" type="image/png">
                <img src="/assets/images/png/metro.png" alt="The Metro newspaper logo" />
            </picture>
        </a> 
        <a href="/info/press/" target="_blank">
            <picture>
                <source srcset="/assets/images/webp/times.webp" type="image/webp">
                <source srcset="/assets/images/png/times.png" type="image/png">
                <img src="/assets/images/png/times.png" alt="The Times newspaper logo" />
            </picture>
        </a>
    </div>
</section>