<div class="resortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">
	
	@@image

	<div class="regionsGridDescription">
		
		<h4 class="regionsGridTitle">
			@@title
		</h4>

		<div class="regionsGridData">
			<div class="altSkiing">
				<div>
					Altitude: <strong>@@altitude</strong>
				</div>
				<div>
					Skiing: <strong>@@skiing</strong>
				</div>
			</div>
			
			<div class="transfertimeWrap">
				<div class="transfertime">
					<span class="titleAreaTransfer">
						Transfer time:
					</span> 
					<span class="titleAreaTransferText"><strong>
						@@transferTime
					</strong></span>
				</div>
			</div>
		</div>

		<div class="regionsGridDescriptionParagraph">
			@@description
		</div>

	</div>
</div>