<section class="skiWeekends container_12">

	<div class="skiWeekendsLeft">

		<h3 class="skiWeekendsLeftTitle" data-aos="fade-right" data-aos-once="true">
            @@title
        </h3>
        
		<span class="typeform-share button">
            @@button
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </span>

    </div>

	<div class="skiWeekendsRight">
        <picture class="skiWeekendsImage" data-aos="zoom-in" data-aos-once="true">

            @@image

        </picture>
    </div>
</section>
