<section class="skiWeekends container_12">
	<div class="skiWeekendsLeft">

		<h3 class="skiWeekendsLeftTitle" data-aos="fade-right" data-aos-once="true">
            @@title
        </h3>

		<div class="skiWeekendsLeftText" data-aos="fade-left" data-aos-once="true">
            @@text    
        </div>

		<span class="buttonContainer learnMore">
            <span style="text-align: centre; margin-bottom: 50px;">
                @@button
            </span>
        </span>

    </div>
	<div class="skiWeekendsRight">
        @@image
    </div>
</section>
