<div class="activitiesresortsGridItemWrap resort1" data-aos="zoom-in-left" data-aos-once="true">

    <picture class="regionsGridImg">
      <source srcset="/assets/images/webp/@@image.webp" type="image/webp">
      <source srcset="/assets/images/@@term/@@image.@@term" type="image/@@term">
      <img src="/assets/images/@@term/@@image.@@term" alt="@@title">
    </picture>

    <div class="activitiesregionsGridDescription">

        <h4 class="activitiesregionsGridTitle">
            @@title
        </h4>

        <div class="activitiesregionsGridDescriptionParagraph">
            <p>@@description</p>
        </div>
    </div>
</div>

   