
<div class="biBContainer">
    <h1 class="bIBtitle">
        @@title
    </h1>
    <h6 class="biBsubtitle">
        @@subtitle
    </h6>
    <div class="biBbutton messengerBtn">
        <a href="https://m.me/myswft?ref=Welcome" target="_blank"><img src="/assets/images/png/stefan-messenger-cta.png" /> </a></div>
    <div class="biBbutton whatsUpBtn">
        <a href="https://api.whatsapp.com/send?phone=442039000223" target="_blank"><img src="/assets/images/png/stefan-whatsapp-cta.png" /> </a></div>
    <br />
    <br />
    <a href="https://www.feefo.com/reviews/my-swft" target="_blank"><img alt="Feefo logo" border="0" src="https://api.feefo.com/api/logo?merchantidentifier=my-swft" title="See what our customers say about us" /></a>
    <p>
        &nbsp;</p>
</div>
