<div class="topArea topAreaWithImage">
    @@imageBg

    <div class="topContent sContainer">

        <h1 class="topTitle" data-aos="fade-down" data-aos-once="true">
            @@title
        </h1>

        <h3 class="topText" data-aos="fade-up" data-aos-once="true">
            @@subtitle
        </h3>
        
        @@include('../partials/components/social-buttons2.html')
        
        <div class="feefo" data-aos="fade-left" data-aos-delay="1000" data-aos-once="true">
            <a href="https://www.feefo.com/reviews/packed" target="_blank">
                <img alt="Feefo logo" border="0" src="/assets/images/png/feefo-logo.png" title="See what our customers say about us" />
            </a>
        </div>

    </div>
</div>