<section class="why-packed sContainer">

    <div class="why-packed__top-section">
        <h2 class="sectionTitle" data-aos="fade-right" data-aos-once="true">
			Why thousands of customers love packed
		</h2>      
    </div>

    <div class="why-packed__carousel-container">

        <div class="feefoCarouselControls">
        <div class="carouselControls">

            <div class="slider-prev controlBtn" id="whyPackedCarousel-prev">

                <div class="why-packed__control-btn why-packed__btn-left"></div>

            </div>

            <div class="slider-next controlBtn" id="whyPackedCarousel-next">

                <div class="why-packed__control-btn why-packed__btn-right"></div>

            </div>
            
        </div>
        </div>

        <div id="whyPackedCarousel">

            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-time-saver.svg">
                </div>
                <div class="why-packed__item-header">Time saver</div>
				<div class="why-packed__item-text">Get the holiday you want, without spending hours researching</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-value.svg">
                </div>
                <div class="why-packed__item-header">Value for money</div>
				<div class="why-packed__item-text">Our supplier relationships ensure you get access to the best possible rates</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-personalised.svg">
                </div>
                <div class="why-packed__item-header">Personalised</div>
				<div class="why-packed__item-text">Add special requests, activities and events to make your holiday truly unique</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-service.svg">
                </div>
                <div class="why-packed__item-header">5* service</div>
				<div class="why-packed__item-text">Well, 4.9/5, but nobody’s perfect right?</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-atol.svg">
                </div>
                <div class="why-packed__item-header">Protected</div>
				<div class="why-packed__item-text">Your money is 100% ATOL protected, just in case</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-experts.svg">
                </div>
                <div class="why-packed__item-header">Expert advice</div>
				<div class="why-packed__item-text">Our experienced planners know all the ins and outs so you know you’ve got the best trip possible</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-chat.svg">
                </div>
                <div class="why-packed__item-header">Just a tap away</div>
				<div class="why-packed__item-text">Available on WhatsApp and Messenger to cover any questions you have before, during and after your trip</div>
            </div>
            <div class="why-packed__item-container">
                <div class="why-packed__item-img">
                    <img src="/assets/images/svg/why-packed-easy-contact.svg">
                </div>
                <div class="why-packed__item-header">One point of contact</div>
				<div class="why-packed__item-text">Our professional planners organise everything you need for the perfect trip</div>
            </div>

        </div>
    </div>
    <div class="why-packed__btn-container">
        <span style="text-align: center;">
            <a class="buttonTheBestLearnMore purpleBg" href="https://m.me/all.packed?ref=Welcome">
                Get started
            </a>
        </span>
    </div>
</section>