<section class="whypacked container_12">
	<div class="whypackedBox">
		<div class="whypackedLeft">

			<h4 class="whypackedTitle sectionTitle" data-aos="zoom-in" data-aos-once="true">
          @@title
      </h4>

			<div class="text">
				@@for(var i = 0; i < text.length; i++) {
				  <p>`+text[i].paragraph+`</p>
				}
			</div>
      
		</div>
		<div class="whypackedRight">
      <picture class="regionsGridImg">
        <source srcset="/assets/images/webp/@@image.webp" type="image/webp">
        <source srcset="/assets/images/@term/@@image.@term" type="image/@term">
        <img class="whyMySwftImage" data-aos="fade-left" data-aos-once="true" src="/assets/images/@term/@@image.@term" alt="@@title">
      </picture>

    </div>
	</div>
</section>
