<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script>
	$(document).ready(function() {
		$(".boxesItem").click(function(){
			$('#q1form').submit();
		});

		$('#q1form').submit(function(e) {
			e.preventDefault();
				$.ajax({
				type: "POST",
				url: 'https://sagesvision.com/problems/q1.php',
				data: $(this).serialize(),
				success: function(response)
				{
					var jsonData = JSON.parse(response);

					console.log(1);

					// user is logged in successfully in the back-end
					// let's redirect
					if (jsonData.success == "1")
					{
						location.href = '/problems/q2_city-break.html';
					}
					else
					{
						alert('Invalid Credentials!');
					}
					}
			});
		});
	});
</script>